$variant: 'dark';
$laptop: 'false';
$theme: 'ruby';
$headerbar: 'dark';

@import '../sass/colors';
@import '../sass/variables';
@import '../sass/drawing-3.0';
@import '../sass/common-3.0';
@import '../sass/apps-3.0';
@import '../sass/mate';
@import '../sass/budgie';
@import '../sass/lightdm';
@import '../sass/colors-public';
