$variant: 'light';
$laptop: 'true';
$theme: 'beryl';
$headerbar: 'dark';

@import '../sass/colors';
@import '../sass/variables';
@import '../sass/drawing-4.0';
@import '../sass/common-4.0';
@import '../sass/apps-4.0';
@import '../sass/colors-public';
