$variant: 'light';
$laptop: 'false';
$theme: 'ruby';
$topbar: 'light';

@import '../sass/variables';
@import '../sass/colors';
@import '../sass/drawing';
@import '../sass/widgets-40-0';
@import '../sass/extensions-40-0';
