
.osd-window {
  spacing: $base_padding * 2; // 12px
  padding: $base_padding * 2 $base_padding * 3;
  & > * { spacing: 8px; }
  margin-bottom: 8em;

  StIcon { icon-size: $base_icon_size * 2; } // 32px

  StLabel {
    &:ltr { margin-right: 6px; }
    &:rtl { margin-left: 6px; }
  }

  .level {
    margin-bottom: 4px;
    &:first-child { margin-bottom: 0; }
    min-width: $base_icon_size * 10;

    &:ltr { margin-right: $base_padding; }
    &:rtl { margin-left: $base_padding; }
  }
}
