// Rubberband for select-area screenshots
.select-area-rubberband {
  background-color: transparentize($primary, 0.7);
  border: 1px solid $primary;
  border-radius: $base_radius;
}

// User icon
.user-icon {
  background-size: contain;
  color: on(black, secondary);
  border-radius: $circular_radius;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  icon-size: $base_icon_size * 4; // 64px

  &:hover {
    color: on(black);
  }

  & StIcon {
    background-color: on(black);
    border-radius: $circular_radius;
    padding: $base_padding * 2 ; // 12px
    width: $base_icon_size * 2.5; height: $base_icon_size * 2.5; // 40px;
  }

  &.user-avatar {
    border: 2px solid $primary;
  }
}

.user-widget.vertical .user-icon {
  icon-size: $base_icon_size * 6; // 128px

  & StIcon {
    padding: $base_padding * 3 + 2px; // 20px
    padding-top: $base_padding * 3; // 18 px
    padding-bottom: $base_padding * 3 + 4px; // 22px
    width: $base_icon_size * 5.5; height:  $base_icon_size * 5.5; // 88px;
  }
}

.lightbox { background-color: black; }
.flashspot { background-color: white; }


// Hidden
.hidden { color: rgba(0,0,0,0);}

// Caps-lock warning
.caps-lock-warning-label {
  text-align: center;
  padding-bottom: 8px;
  @include fontsize($font_size - 1);
  color: $warning;
}
