/* Notifications & Message Tray */

// Banner notifications
.notification-banner {
  width: 34em;
  min-height: 64px;
  margin: 2px 5px 8px;
  color: $text-secondary;
  background-color: $popover;
  border: none;
  text-shadow: none;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: $menu_radius;

  &:hover {
    color: $text;
    background-color: $popover;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
    margin: 2px 12px 17px;
  }

  &:focus {
    color: $text;
    background-color: $popover;
  }

  .notification-actions {
    background-color: transparent;
    padding-top: 0;
    border-top: 1px solid $border;
    spacing: 0;
  }

  .notification-button {
    min-height: $item_size + $base_padding * 2;
    padding: 0 $base_padding * 3;
    background-color: transparent;
    color: $text-secondary;
    font-weight: 500;
    border-width: 0;

    &:first-child { border-radius: 0 0 0 $menu_radius !important; }

    &:last-child { border-radius: 0 0 $menu_radius 0 !important; }

    &:only-child, &:first-child:last-child { border-radius: 0 0 $menu_radius $menu_radius !important; }

    &:focus {
      background-color: transparent;
      color: $text;
      box-shadow: inset 0 0 0 2px $divider !important;
    }

    &:hover, &:focus:hover {
      background-color: $divider;
      color: $text;
      box-shadow: none !important;
    }

    &:active {
      background-color: $track;
      color: $text;
    }
  }
}

// counter
.summary-source-counter {
  font-size: fontsize($font_size - 1);
  font-weight: bold;
  height: 1.6em; width: 1.6em;
  -shell-counter-overlap-x: 3px;
  -shell-counter-overlap-y: 3px;
  background-color: $primary;
  color: on($primary);
  border: 2px solid $track;
  box-shadow: 0 2px 2px rgba(black, 0.5);
  border-radius: 0.9em; // should be 0.8 but whatever; wish I could do 50%;
}

// chat bubbles
.chat-body { spacing: 5px; }
.chat-response { margin: 5px; }
.chat-log-message { color: $text-secondary; }
.chat-new-group { padding-top: 1em; }
.chat-received {
  padding-left: 4px;
  &:rtl { padding-left: 0px; padding-right: 4px; }
}

.chat-sent {
  padding-left: 18pt;
  color: $text-secondary;
  &:rtl { padding-left: 0; padding-right: 18pt; }
}

.chat-meta-message {
  padding-left: 4px;
  @include fontsize($font_size - 2);
  color: $text-disabled;
  &:rtl { padding-left: 0; padding-right: 4px; }
}
