/* OSD */

%osd_panel {
  color: on($osd, secondary);
  background-color: $osd;
  border: none;
  box-shadow: 0 3px 8px 0 rgba(black, 0.25);
  margin: 5px 8px 11px;
  border-radius: $menu_radius;
  padding: $base_padding * 2;
}

.osd-window {
  @extend %osd_panel;
  text-align: center;
  font-weight: bold;

  .osd-monitor-label { font-size: 3em; }

  .level {
    height: 2px;
    border-radius: 2px;
    background-color: $divider;
    color: $text;

    // For >= 3.29.90
    -barlevel-height: 2px;
    // FIXME: above 'background-color' property rendered correct trough
    // colour already, so keep -background-color style-property transparent
    -barlevel-background-color: $divider;
    -barlevel-active-background-color: $primary;
    -barlevel-overdrive-color: $destructive;
    -barlevel-overdrive-separator-width: 2px;
    -barlevel-border-width: 0;
    -barlevel-border-color: $border;
  }

  .level-bar {
    background-color: white;
    border-radius: 2px;
  }
}

// Pad OSD
.pad-osd-window {
  padding: 32px;
  background-color: $osd;

  .pad-osd-title-box { spacing: $base_spacing * 2; }
  .pad-osd-title-menu-box { spacing: $base_spacing; }
}

.combo-box-label {
  width: 15em;
}

.resize-popup {
  @extend %osd_panel;
}
