/* Switches */

.toggle-switch {
  width: 44px;
  height: 26px;
  background-size: contain;
  background-image: url("assets/toggle-off.svg");

  &:checked { background-image: url("assets/toggle-on.svg"); }

  .popup-menu-item.selected & {
    background-image: url("assets/toggle-off.svg");

    &:checked { background-image: url("assets/toggle-on.svg"); }
  }
}
