
// do-not-disturb + clear button
.message-list-controls {
  margin: ($base_margin * 2) ($base_margin * 4) 0;
  // NOTE: remove the padding if notification_bubble could remove margin for drop shadow
  padding: $base_margin;
  spacing: $base_spacing * 2;
}

.message-media-control {
  margin: 18px $base_padding;
  padding: $base_padding * 1.5;
}

// album-art
.media-message-cover-icon {
  padding: $base_padding;

  &.fallback {
    padding: $base_padding;
  }
}
