
.popup-menu {
  .popup-menu-item {
    &:ltr { padding-right: 1.5em !important; padding-left: 0 !important; }
    &:rtl { padding-right: 0 !important; padding-left: 1.5em !important; }
  }
}

// system status popover menu
.aggregate-menu {
  .popup-sub-menu .popup-menu-item > :first-child {
    &:ltr { padding-left: $base_padding * 2 + 4px; margin-left: 1em; }
    &:rtl { padding-right: $base_padding * 2 + 4px; margin-right: 1em; }
  }
}
