// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

@import 'color-palette';

// Theme colors
$theme-blue:       #4285F4;
$theme-green:      #2EB398;
$theme-red:        #F0544C;
$theme-purple:     #AB47BC;
$theme-contrast:   #686868;
$theme-base:       if($variant == 'light', #FFFFFF, #333333);
$theme-background: if($variant == 'light', #F2F2F2, #282828);

// Color functions
@function on($color, $state: 'primary') {
  // Allow 'light' or 'dark' to $color
  @if ($color == 'light') { $color: white; }
  @if ($color == 'dark') { $color: black; }

  // Calculate color brightness according to https://www.w3.org/TR/AERT/#color-contrast
  $brightness: (red($color) * 299 + green($color) * 587 + blue($color) * 114) / 1000;

  @if ($brightness >= 156) {
    @if ($state == 'primary') { @return rgba(black, 0.87); }
    @if ($state == 'secondary') { @return rgba(black, 0.6); }
    @if ($state == 'disabled') { @return rgba(black, 0.38); }
    @if ($state == 'secondary-disabled') { @return rgba(black, 0.26); }
    @if ($state == 'track') { @return rgba(black, 0.26); }
    @if ($state == 'track-disabled') { @return rgba(black, 0.12); }
    @if ($state == 'divider') { @return rgba(black, 0.12); }
    @if ($state == 'fill') { @return rgba(black, 0.05); }
  } @else {
    @if ($state == 'primary') { @return white; }
    @if ($state == 'secondary') { @return rgba(white, 0.7); }
    @if ($state == 'disabled') { @return rgba(white, 0.45); }
    @if ($state == 'secondary-disabled') { @return rgba(white, 0.3); }
    @if ($state == 'track') { @return rgba(white, 0.3); }
    @if ($state == 'track-disabled') { @return rgba(white, 0.12); }
    @if ($state == 'divider') { @return rgba(white, 0.12); }
    @if ($state == 'fill') { @return rgba(white, 0.05); }
  }
}

$weight: 3%; // theme color weight

@function theme($state: 'primary') {
  @if ($state == 'primary') {
    @if ($theme == 'doder')    { @return $theme-blue; }
    @if ($theme == 'beryl')    { @return $theme-green; }
    @if ($theme == 'ruby')     { @return $theme-red; }
    @if ($theme == 'amethyst') { @return $theme-purple; }
    @if ($theme == 'black') or ($theme == 'white') { @return $theme-contrast; }
  }
  @if ($state == 'indicator') {
    @if ($theme == 'doder')    { @return $theme-blue; }
    @if ($theme == 'beryl')    { @return $theme-green; }
    @if ($theme == 'ruby')     { @return $theme-red; }
    @if ($theme == 'amethyst') { @return $theme-purple; }
    @if ($theme == 'black') or ($theme == 'white') { @return white; }
  }
  @if ($state == 'base') {
    @if ($variant == 'dark') and ($theme != 'black') and ($theme != 'white') {
      @if ($theme == 'doder')    { @return mix($theme-blue, $theme-base, $weight); }
      @if ($theme == 'beryl')    { @return mix($theme-green, $theme-base, $weight); }
      @if ($theme == 'ruby')     { @return mix($theme-red, $theme-base, $weight); }
      @if ($theme == 'amethyst') { @return mix($theme-purple, $theme-base, $weight); }
    }
    @return $theme-base;
  }
  @if ($state == 'background') {
    @if ($variant == 'dark') and ($theme != 'black') {
      @if ($theme == 'doder')    { @return mix($theme-blue, $theme-background, $weight); }
      @if ($theme == 'beryl')    { @return mix($theme-green, $theme-background, $weight); }
      @if ($theme == 'ruby')     { @return mix($theme-red, $theme-background, $weight); }
      @if ($theme == 'amethyst') { @return mix($theme-purple, $theme-background, $weight); }
    }
    @return $theme-background;
  }
}

@function overlay($color, $state: 'normal') {
  @if ($state == 'normal') { @return rgba(on($color), 0.05); }
  @if ($state == 'hover') { @return rgba(on($color), 0.1); }
  @if ($state == 'focus') { @return rgba(on($color), 0.08); }
  @if ($state == 'active') { @return rgba(on($color), 0.15); }
  @if ($state == 'checked') { @return rgba(on($color), 0.12); }
  @if ($state == 'selected') { @return rgba(on($color), 0.08); }
}

//
// Basic colors
//

$primary:                               theme(primary);
$base:                                  theme(base);
$background:                            theme(background);
$popover:                               if($variant == 'light', $base, $base);

$osd:                                   mix($primary, #202020, $weight);
$scrim:                                 rgba(black, 0.6);
$panel:                                 if($topbar == 'dark', mix($primary, #181818, $weight), $scrim);

//
// Misc colors
//

$link:                                  $primary;
$link-visited:                          if($variant == 'light', $purple-500, $purple-200);

$warning:                               if($variant == 'light', #F4B400, #FDD633);
$error:                                 if($variant == 'light', #DD2C00, #F28B82);
$success:                               if($variant == 'light', #0F9D58, #81C995);

$suggested:                             $primary;
$destructive:                           #FF5252;

$frame:                                 if($variant == 'light', rgba(black, 0.12), rgba(black, 0.2));
$border:                                if($variant == 'light', rgba(black, 0.12), rgba(white, 0.12));
$solid-border:                          if($variant == 'light', darken($background, 10%), lighten($background, 12%));

$indicator:                             theme(indicator);

//
// Text and derivative colors
//

$text:                                  on($background);
$text-secondary:                        on($background, secondary);
$text-disabled:                         on($background, disabled);
$text-secondary-disabled:               on($background, secondary-disabled);
$track:                                 on($background, track);
$track-disabled:                        on($background, track-disabled);
$divider:                               on($background, divider);
$fill:                                  on($background, fill);

$panel-text:                            on($panel);
$panel-text-secondary:                  on($panel, secondary);
$panel-text-disabled:                   on($panel, disabled);
$panel-text-secondary-disabled:         on($panel, secondary-disabled);
$panel-track:                           on($panel, track);
$panel-track-disabled:                  on($panel, track-disabled);
$panel-divider:                         on($panel, divider);
$panel-fill:                            on($panel, fill);
