// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

@import 'tweaks-temp';
@import 'color-palette';
@import 'colors-base';

//
// Basic colors
//

$primary:                               primary();
$base:                                  themecolor($theme-base, if($variant == 'light', default, $mixstate));
$background:                            themecolor($theme-background, if($variant == 'light', default, $mixstate));
$popover:                               if($variant == 'light', $base, $base);

$osd:                                   themecolor(#202020, $mixstate);
$scrim:                                 rgba(black, 0.6);
$panel:                                 if($topbar == 'dark', themecolor(#181818, $mixstate), $scrim);

//
// Misc colors
//

$link:                                  $primary;
$link-visited:                          if($variant == 'light', $purple-500, $purple-200);

$warning:                               if($variant == 'light', #F4B400, #FDD633);
$error:                                 if($variant == 'light', #DD2C00, #F28B82);
$success:                               if($variant == 'light', #0F9D58, #81C995);

$suggested:                             $primary;
$destructive:                           #FF5252;

$frame:                                 if($variant == 'light', rgba(black, 0.12), rgba(black, 0.2));
$border:                                if($variant == 'light', rgba(black, 0.12), rgba(white, 0.12));
$solid-border:                          if($variant == 'light', darken($background, 10%), lighten($background, 12%));

$indicator:                             indicator(light);

//
// Text and derivative colors
//

$text:                                  on($background);
$text-secondary:                        on($background, secondary);
$text-disabled:                         on($background, disabled);
$text-secondary-disabled:               on($background, secondary-disabled);
$track:                                 on($background, track);
$track-disabled:                        on($background, track-disabled);
$divider:                               on($background, divider);
$fill:                                  on($background, fill);

$panel-text:                            on($panel);
$panel-text-secondary:                  on($panel, secondary);
$panel-text-disabled:                   on($panel, disabled);
$panel-text-secondary-disabled:         on($panel, secondary-disabled);
$panel-track:                           on($panel, track);
$panel-track-disabled:                  on($panel, track-disabled);
$panel-divider:                         on($panel, divider);
$panel-fill:                            on($panel, fill);
