$variant: 'dark';
$laptop: 'false';
$color: 'doder';
$headerbar: 'dark';

@import 'sass/colors-variety';
@import 'sass/drawing';
@import 'sass/common-color';
@import 'sass/apps';
@import 'sass/mate';
@import 'sass/budgie';
@import 'sass/lightdm';
@import 'sass/colors-public';
