
// Value for tweaks
$weight: 3%; // theme color mix weight
$mixstate: 'default'; // theme color mix type
$titlebutton: 'default'; // Titlebutton style: default/flat

// Value for theme
$compact: 'false';
$theme: 'doder';
$translucent: 'false';
