$variant: 'light';
$laptop: 'false';
$topbar: 'light';
$theme: 'white';

@import '../sass/variables';
@import '../sass/colors';
@import '../sass/drawing';
@import '../sass/widgets-3-28';
@import '../sass/extensions-3-28';
