/* Dash */

$dash_placeholder_size: 32px;

#dash {
  @include fontsize($font_size - 2);

  .empty-dash-drop-target {
    width: $dash_placeholder_size;
    height: $dash_placeholder_size;
  }
}

// OSD Tooltip
.dash-label {
  color: rgba(white, 0.9);
  background-color: rgba(black, 0.75);
  border-radius: $menu_radius;
  padding: $base_padding $base_padding * 2;
  box-shadow: none;
  border: none;
  text-align: center;
  -y-offset: $base_margin * 3; // distance from the dash edge
  -x-offset: 8px;
}
