// Workspace animation
.workspace-animation {
  background-color: $osd;
}

// reset prev/next month icons
.calendar {
  .calendar-change-month-back,
  .calendar-change-month-forward {
    padding: 0 2px;
  }
}
