// Theme colors
$theme_blue:       #4285F4;
$theme_green:      #2EB398;
$theme_red:        #F0544C;
$theme_purple:     #AB47BC;
$theme_grey:       #666666;
$theme_base:       if($variant == 'light', #FFFFFF, #333333);
$theme_background: if($variant == 'light', #F2F2F2, #282828);

$weight: 3%; // theme color weight

@function gtkalpha($c, $a) {
  @return unquote("alpha(#{$c}, #{$a})");
}

// Color functions
@function on($color, $state: 'primary') {
  // Allow 'light' or 'dark' to $theme
  @if ($color == 'light') { $color: white; }
  @if ($color == 'dark') { $color: black; }

  // Calculate color brightness according to https://www.w3.org/TR/AERT/#color_contrast
  $brightness: (red($color) * 299 + green($color) * 587 + blue($color) * 114) / 1000;

  @if ($brightness >= 156) {
    @if ($state == 'primary') { @return rgba(black, 0.87); }
    @if ($state == 'secondary') { @return rgba(black, 0.6); }
    @if ($state == 'disabled') { @return rgba(black, 0.38); }
    @if ($state == 'secondary_disabled') { @return rgba(black, 0.26); }
    @if ($state == 'track') { @return rgba(black, 0.26); }
    @if ($state == 'track_disabled') { @return rgba(black, 0.12); }
    @if ($state == 'divider') { @return rgba(black, 0.12); }
    @if ($state == 'fill') { @return rgba(black, 0.05); }
  } @else {
    @if ($state == 'primary') { @return white; }
    @if ($state == 'secondary') { @return rgba(white, 0.7); }
    @if ($state == 'disabled') { @return rgba(white, 0.45); }
    @if ($state == 'secondary_disabled') { @return rgba(white, 0.3); }
    @if ($state == 'track') { @return rgba(white, 0.3); }
    @if ($state == 'track_disabled') { @return rgba(white, 0.12); }
    @if ($state == 'divider') { @return rgba(white, 0.12); }
    @if ($state == 'fill') { @return rgba(white, 0.05); }
  }
}

@function primary($state: 'main') {
  @if ($state == 'main') {
    @if ($theme == 'doder')    { @return $theme_blue; }
    @if ($theme == 'beryl')    { @return $theme_green; }
    @if ($theme == 'ruby')     { @return $theme_red; }
    @if ($theme == 'amethyst') { @return $theme_purple; }
    @if ($theme == 'black') or ($theme == 'white') { @return $theme_grey; }
  }
  @if ($state == 'contrast') { // entry/slider (focus)
    @if ($variant == 'light')  { @return rgba(black, 0.65); }
    @if ($variant == 'dark')   { @return rgba(white, 1); }
  }
}

@function accent($state: 'main') {
  @if ($state == 'main') {
    @if ($theme == 'doder')    { @return #18b8ff; }
    @if ($theme == 'beryl')    { @return #0fd1ab; }
    @if ($theme == 'ruby')     { @return #FF626C; }
    @if ($theme == 'amethyst') { @return #EC407A; }
    @if ($theme == 'black') or ($theme == 'white') { @return lighten($theme_grey, 8%); }
  }
  @if ($state == 'contrast') {
    @if ($variant == 'light')  { @return rgba(black, 0.58); }
    @if ($variant == 'dark')   { @return rgba(white, 0.86); }
  }
}

@function indicator($state: 'primary') {
  @if ($state == 'primary') {
    @if ($theme != 'black') and ($theme != 'white') { @return primary(main); }
    @else { @return primary(contrast); }
  }
  @if ($state == 'accent') {
    @if ($theme != 'black') and ($theme != 'white') { @return accent(main); }
    @else { @return accent(contrast); }
  }
  @if ($state == 'light') {
    @if ($theme != 'black') and ($theme != 'white') { @return primary(main); }
    @else { @return white; }
  }
}

@function themecolor($color, $state: 'normal') {
  @if ($state == 'normal') {
    @return mix(primary(main), $color, $weight);
  }
  @if ($state == 'primary') {
    @if ($theme != 'black') and ($theme != 'white') and ($variant == 'dark') {
      @return mix(primary(main), $color, $weight);
    } @else { @return $color; }
  }
}

@function overlay($color, $state: 'normal') {
  @if ($state == 'normal') { @return rgba(on($color), 0.06); }
  @if ($state == 'hover') { @return rgba(on($color), 0.12); }
  @if ($state == 'focus') { @return rgba(on($color), 0.08); }
  @if ($state == 'active') { @return rgba(on($color), 0.20); }
  @if ($state == 'checked') { @return rgba(on($color), 0.15); }
  @if ($state == 'selected') { @return rgba(on($color), 0.1); }
}

// Background colors
$base:               themecolor($theme_base, primary);
$background:         themecolor($theme_background, primary);
$base_alt:           mix($base, $background, 50%);
$suface:             if($headerbar == 'light', darken($base, 2%), lighten($base, 2%));
$scrim:              darken($background, 5%);
$osd:                themecolor(#222222);
$panel:              themecolor(#202020);
$topbar:             if($headerbar == 'light', #eeeeee, themecolor(#363636));
$menu:               if($headerbar == 'light', $base, $suface);

// Theme colors
$primary: primary();
$accent: accent();
$indicator: indicator();

// Misc colors
$border:             if($variant == 'light', rgba(black, 0.12), rgba(black, 0.20));
$border_solid:       if($variant == 'light', darken($background, 10%), darken($background, 2.5%));
$highlight:          if($headerbar == 'light', rgba(white, 0.35), rgba(white, 0.1));

$error:       #DD2C00;
$warning:     #FF6D00;
$success:     #00C853;

$suggested:   #4CAF50;
$destructive: #FF5252;

$info:        #66BB6A;
$question:    #42A5F5;

$link:        $theme_blue;
$link_visited: #E040FB;

// Overlay state colors
$overlay_normal:                        gtkalpha(currentColor, 0.06);
$overlay_hover:                         gtkalpha(currentColor, 0.1);
$overlay_focus:                         gtkalpha(currentColor, 0.08);
$overlay_focus_hover:                   gtkalpha(currentColor, 0.16);
$overlay_active:                        gtkalpha(currentColor, 0.16);
$overlay_checked:                       gtkalpha(currentColor, 0.12);
$overlay_selected:                      gtkalpha(currentColor, 0.1);

// Text and derivative colors
$text:                                  on($background);
$text_secondary:                        on($background, secondary);
$text_disabled:                         on($background, disabled);
$text_secondary_disabled:               on($background, secondary_disabled);
$track:                                 on($background, track);
$track_disabled:                        on($background, track_disabled);
$divider:                               on($background, divider);
$fill:                                  on($background, fill);
