
@import 'colors-base';

// Background colors
$base:               themecolor($theme_base, $mixstate);
$background:         themecolor($theme_background, $mixstate);
$base_alt:           mix($base, $background, 50%);
$suface:             if($headerbar == 'light', darken($base, 2%), lighten($base, 2%));
$scrim:              darken($background, 5%);
$osd:                themecolor(#222222, $mixstate);
$panel:              themecolor(#202020, $mixstate);
$topbar:             if($headerbar == 'light', #eeeeee, themecolor(#363636, $mixstate));
$menu:               if($headerbar == 'light', $base, $suface);

// Theme colors
$primary: primary();
$accent: accent();
$indicator: indicator();

// Misc colors
$border:             if($variant == 'light', rgba(black, 0.12), rgba(black, 0.20));
$border_solid:       if($variant == 'light', darken($background, 10%), darken($background, 2.5%));
$highlight:          if($headerbar == 'light', rgba(white, 0.35), rgba(white, 0.1));

$error:       #DD2C00;
$warning:     #FF6D00;
$success:     #00C853;

$suggested:   #4CAF50;
$destructive: #FF5252;

$info:        #66BB6A;
$question:    #42A5F5;

$link:        $theme_blue;
$link_visited: #E040FB;

// Overlay state colors
$overlay_normal:                        gtkalpha(currentColor, 0.06);
$overlay_hover:                         gtkalpha(currentColor, 0.1);
$overlay_focus:                         gtkalpha(currentColor, 0.08);
$overlay_focus_hover:                   gtkalpha(currentColor, 0.16);
$overlay_active:                        gtkalpha(currentColor, 0.16);
$overlay_checked:                       gtkalpha(currentColor, 0.12);
$overlay_selected:                      gtkalpha(currentColor, 0.1);

// Text and derivative colors
$text:                                  on($background);
$text_secondary:                        on($background, secondary);
$text_disabled:                         on($background, disabled);
$text_secondary_disabled:               on($background, secondary_disabled);
$track:                                 on($background, track);
$track_disabled:                        on($background, track_disabled);
$divider:                               on($background, divider);
$fill:                                  on($background, fill);
