// based css:
// https://github.com/mate-desktop/mate-themes/blob/master/desktop-themes/Menta/gtk-3.0/mate-applications.css

//
// Mate-Panel
//

// first make all transparent
.mate-panel-menu-bar menubar,
#PanelApplet-window-menu-applet-button {
  background-color: transparent;
}

// let's start it
#PanelPlug,
PanelToplevel.background {
  background-color: $background;
  color: $text-secondary;
  font-weight: 500;
}

// hide buttons
PanelToplevel > widget > button {
  padding: 0 4px;
  border-radius: 0;

  @extend %simple_flat_button;
}

// #PanelApplet {
//   border-width: 0;
// }

PanelSeparator {
  color: $border;
}

// the grid left from na-tray and wncktasklist
MatePanelAppletFrameDBus {
  border-style: solid;
  border-width: 0 1px;
  border-color: $border;
}

// main menu
// set normal menubar button
.mate-panel-menu-bar menubar menuitem {
  padding: 4px;
}

// set normal menubar menuitem
.mate-panel-menu-bar menubar menu menuitem {
  padding: 6px;
  // font-weight: initial;
}

// all applets
.mate-panel-menu-bar #PanelApplet button {
  -GtkWidget-window-dragging: true;
  padding: 4px;
  border-radius: 0;

  &:not(.flat) { @extend %flat_button; }
}

// WnckPager
PanelApplet.wnck-applet .wnck-pager {
  background-color: transparent;
  color: $primary;

  &:hover { background-color: $track_disabled; }

  &:active { background-color: $track; }

  &:selected { background-color: $primary; }
}

#clock-applet-button {
  // font-weight: initial;
}

#MatePanelPopupWindow {
  border: 1px solid $border;
  border-radius: $button_radius + 1px;
  box-shadow: inset 0 1px highlight($background);

  frame > border { border-style: none; }

  // FIXME, does not work
  ClockMap { border: 1px solid $border; }
}

na-tray-applet {
  -NaTrayApplet-icon-padding: 3px;
  -NaTrayApplet-icon-size: 16;
}

// remove right space a bit
// na-tray-applet > widget > box {
//   margin-right: 2px;
// }

// no background for icon-padding area
// na-tray-applet widget box widget {
//   background-color: transparent;
// }

// Classic icon style
.mate-panel-menu-bar {
  -PanelMenuBar-icon-visible: true;
}

// volume applet, brightness applet
.mate-panel-applet-slider {
  background: transparent;

  frame {
    border: 1px solid $border;
    border-radius: $button_radius + 1px;
    box-shadow: inset 0 1px highlight($background);
    background-color: $background;

    frame { all: unset; }

    > border { border-style: none; }
  }
}

//
// Caja file manager
//

// pathpar toggle button
.caja-navigation-window {
  button.toggle.image-button {
    border-radius: $button_radius;
    @extend %flat_button;
  }
}

// pathbar
// pathbar buttons
.background .caja-pathbar > button {
  @extend %pathbar_button;

  &.slider-button {
    padding: $space-size;
  }
}

// arrow button
.caja-pathbar button > widget {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  -GtkArrow-arrow-scaling: 1;
}

// places, treeview, history, information, emblems and notes
// .caja-side-pane notebook treeview.view,
// .caja-side-pane notebook textview.view text,
.caja-side-pane notebook viewport.frame,
.caja-side-pane notebook widget .vertical {
  background-color: $base;
}

// treeview rows
.caja-side-pane treeview.view {
  padding: $space-size / 2 0;

  &:selected {
    background-color: $divider;
    color: $text;
  }
}

.caja-side-pane notebook .frame,
.caja-notebook .frame {
  &, & > border {
    border: none;
  }
}

.caja-side-pane notebook,
.caja-notebook {
  border-top: 1px solid $border;
}

.caja-notebook widget.entry {
  background-image: image($background);
  color: $text;
  caret-color: $text;
  border: 2px solid transparent;
  outline: none;

  &:focus {
    border-color: $primary;
  }

  selection { color: on($primary); }
}

// window and desktop mode
// .caja-canvas-item {
//   border-radius: 2px;
// }

// desktop mode
.caja-desktop.caja-canvas-item {
  @extend %desktop-canvas-item;
}

.caja-desktop EelEditableLabel.entry {
}

// statusbar
.caja-navigation-window statusbar {
  margin: 0 -10px;
  padding: 0 4px;
  border-top: 1px solid $border;
}

// infobar
.caja-notebook frame > border {
  border-style: none;
}

#caja-extra-view-widget {
  border-bottom: 1px solid $border;
  background-color: $background; // needs overriding

  > box > box > label { font-weight: bold; }
}

//
// Pluma
//

// Pluma status bar
.pluma-window statusbar {
  margin: 0 -10px;
  padding: 0 4px;
  border-top: 1px solid $border;
}

.pluma-window statusbar frame > border {
  border-style: none;
}

.pluma-window statusbar frame button.flat {
  padding: 0 4px;
  border-radius: 0;
}

.pluma-window statusbar frame button.flat widget {
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  -GtkArrow-arrow-scaling: 1;
}

// Printpreview
.pluma-print-preview toolbar {
  border-bottom: 1px solid $border;
}

// .pluma-print-preview scrolledwindow {
//   background-color: $base;
// }

// sidebar file-browser
.pluma-window paned.horizontal box.vertical box.horizontal button.flat {
  margin: 1px;

  @extend %small_button;
}

.pluma-window paned.horizontal box.vertical .frame {
  border-style: none;
}

.pluma-window paned.horizontal box.vertical notebook.frame {
  margin-top: -1px;
  border-top: 1px solid $border;
}

.pluma-window paned.horizontal box.vertical notebook.frame box.vertical toolbar.horizontal {
  border-bottom: 1px solid $border;
}

//
// Atril
//

.atril-window paned.horizontal box.vertical .frame {
  border-style: none;
}

.atril-window paned.horizontal box.vertical notebook .frame {
  border-top: 1px solid $border;
}

/* mate-screensaver lock dialog */

.lock-dialog {
  border-radius: $button_radius;
  // not sure if box-shadow works here
  box-shadow: $shadow_4, inset 0 1px highlight($background);

  frame > border { border-style: none; }
}
