//apps rely on some named colors to be exported
/* GTK NAMED COLORS
   ----------------
   use responsibly! */

// Sass thinks we're using the colors in the variables as strings and may shoot
// warning, it's innocuous and can be defeated by using "" + $var

$theme_text_color: currentColor;

/* widget text/foreground color */
@define-color theme_fg_color #{"" +$fg_color};

/* text color for entries, views and content in general */
@define-color theme_text_color #{"" +$theme_text_color};

/* widget base background color */
@define-color theme_bg_color #{"" +$bg_color};

/* text widgets and the like base background color */
@define-color theme_base_color #{"" +$base_color};

/* base background color of selections */
@define-color theme_selected_bg_color #{"" +$primary_color};

/* text/foreground color of selections */
@define-color theme_selected_fg_color #{"" +$inversed_fg_color};

/* base background color of insensitive widgets */
@define-color insensitive_bg_color #{"" +$bg_color};

/* text foreground color of insensitive widgets */
@define-color insensitive_fg_color #{"" +$disabled_fg_color};

/* insensitive text widgets and the like base background color */
@define-color insensitive_base_color #{"" +$alt_base_color};

/* widget text/foreground color on backdrop windows */
@define-color theme_unfocused_fg_color #{"" +$fg_color};

/* text color for entries, views and content in general on backdrop windows */
@define-color theme_unfocused_text_color #{"" +$theme_text_color};

/* widget base background color on backdrop windows */
@define-color theme_unfocused_bg_color #{"" +$bg_color};

/* text widgets and the like base background color on backdrop windows */
@define-color theme_unfocused_base_color #{"" +$base_color};

/* base background color of selections on backdrop windows */
@define-color theme_unfocused_selected_bg_color #{"" +$primary_color};

/* text/foreground color of selections on backdrop windows */
@define-color theme_unfocused_selected_fg_color #{"" + $inversed_fg_color};

/* insensitive color on backdrop windows*/
@define-color unfocused_insensitive_color #{"" + $disabled_fg_color};

/* widgets main borders color */
@define-color borders #{"" +$borders_color};

/* widgets main borders color on backdrop windows */
@define-color unfocused_borders #{"" +$borders_color};

/* widgets */
@define-color fg_color #{"" + $fg_color};
@define-color text_color #{"" + $theme_text_color};
@define-color bg_color #{"" + $bg_color};
@define-color base_color #{"" + $base_color};

/* WM */
$wm_highlight: lighten($headerbar_bg_color, 10%);
$wm_bg_unfocused: $headerbar_bg_color;

@define-color wm_title alpha(#{"" + $headerbar_fg_color}, 0.8);
@define-color wm_unfocused_title alpha(#{"" + $headerbar_fg_color}, 0.5);
@define-color wm_bg #{"" + $headerbar_bg_color};
@define-color wm_bg_unfocused #{"" + $wm_bg_unfocused};
@define-color wm_highlight #{"" + $wm_highlight};

/* these are pretty self explicative */
@define-color warning_color #{"" +$warning_color};
@define-color error_color #{"" +$error_color};
@define-color success_color #{"" +$success_color};
//@define-color destructive_color #{"" +$destructive_color}

//FIXME this is really an API
@define-color content_view_bg #{"" + $base_color};
@define-color placeholder_text_color #{"" + $placeholder_text_color};

/* Very contrasty background for text views (@theme_text_color foreground) */
@define-color text_view_bg #{"" + if($variant == 'light', $base_color, darken($base_color,6%))};

//
// Budgie-desktop specific indicator colours
//

// unfocused window 'dot(s)'
@define-color budgie_tasklist_indicator_color #{"" + $topbar_theme_color};
// focused window 'line'
@define-color budgie_tasklist_indicator_color_active #{"" + $topbar_theme_color};
// group-ed and unfocused window 'line(s)'
@define-color budgie_tasklist_indicator_color_active_window #{"" + mix($topbar_theme_color, $topbar_bg_color, 54%)};
@define-color budgie_tasklist_indicator_color_attention #{"" + $warning_color};
