$asset_suffix: if($variant=='dark', '-dark', ''); // use dark assets in dark variant
$darker_asset_suffix: if($headerbar=='dark', '-dark', $asset_suffix);
$extra_background_clip: if($variant == 'light', padding-box, border-box);

// sizes
$small_size: if($laptop == 'false', 24px, 20px);
$medium_size: if($laptop == 'false', 36px, 32px);
$large_size: if($laptop == 'false', 42px, 38px);

$container_padding: if($laptop == 'false', 6px, 4px);

$bar_size: 3px;
$menuitem_size: 28px;
$line_size: if($laptop == 'true', 0 0 3 / 0 0 3px, 0 0 3 / 0 0 3px);

// radiuses
$md_radius: 3px;
$circular_radius: 100px;

// durations
$shorter_duration: 100ms;
$longer_duration: 225ms;
$ripple_duration: 300ms;
$ripple_opacity_duration: 600ms;

// timing functions
$normal_curve: cubic-bezier(0.05, 0.3, 0.6, 1);
$standard_curve: cubic-bezier(0.4, 0.0, 0.2, 1);
$deceleration_curve: cubic-bezier(0.0, 0.0, 0.2, 1);
$acceleration_curve: cubic-bezier(0.4, 0.0, 1, 1);
$sharp_curve: cubic-bezier(0.4, 0.0, 0.6, 1);

// transition shorthands
$shorter_transition: all $shorter_duration $deceleration_curve;
$longer_transition: all $longer_duration $deceleration_curve;
$shadow_transition: box-shadow $shorter_duration $deceleration_curve;

* {
  padding: 0;
  background-clip: padding-box;

  -GtkToolButton-icon-spacing: 4;
  -GtkTextView-error-underline-color: $error_color;

  // The size for scrollbars. The slider is 2px smaller, but we keep it
  // up so that the whole area is sensitive to button presses for the
  // slider. The stepper button is larger in both directions, the slider
  // only in the width

  -GtkScrolledWindow-scrollbar-spacing: 0;

  -GtkToolItemGroup-expander-size: 11;

  -GtkWidget-text-handle-width: 24;
  -GtkWidget-text-handle-height: 24;

  -GtkDialog-button-spacing: 4;
  -GtkDialog-action-area-border: 0;

  // We use the outline properties to signal the focus properties
  // to the adwaita engine: using real CSS properties is faster,
  // and we don't use any outlines for now.

  outline-style: solid;
  outline-width: 2px;
  outline-color: $track_color;
  outline-offset: -4px;
  -gtk-outline-radius: $md_radius;

  -gtk-secondary-caret-color: $primary_color;
}


//
// Base States
//
.background {
  background-color: $bg_color;
  color: $fg_color;
}

*:disabled { -gtk-icon-effect: dim; }

.gtkstyle-fallback {
  background-color: $bg_color;
  color: $fg_color;

  &:hover {
    background-color: darken($bg_color, 5%);
    color: $fg_color;
  }

  &:active {
    background-color: darken($bg_color, 10%);
    color: $fg_color;
  }

  &:disabled {
    background-color: $bg_color;
    color: $disabled_fg_color;
  }

  &:selected {
    background-color: $primary_color;
    color: $inversed_fg_color;
  }
}

%view,
.view {
  @extend row.activatable;

  background-color: $base_color;
  color: $fg_color;

//  &:hover, &:active, &:selected { border-radius: 2px; }

  &:disabled {
    // background-color: $alt_base_color;
    color: $disabled_fg_color;
  }

  &:selected { @extend %selected_items; }
}

textview {
  text {
    // @extend %view;

    background-color: $base_color;
    color: $fg_color;

    &:disabled {
      // background-color: $alt_base_color;
      color: $disabled_fg_color;
    }

    selection { @extend %selected_items; }
  }
}

textview border {
  background-color: $alt_base_color;
  color: $tertiary_fg_color;
}

iconview {
  @extend %view;
  &:hover, &:active, &:selected { border-radius: $md_radius; }
}

.rubberband,
rubberband {
  border: 1px solid $alt_primary_color;
  background-color: scale-alpha($alt_primary_color, $lower_opacity);
}

flowbox {
  rubberband { @extend rubberband; }

  flowboxchild {
    outline-offset: -2px;
    padding: 4px;
    border-radius: 2px;

    &:selected { @extend %selected_items; }
  }
}

label {
  caret-color: currentColor; // this shouldn't be needed.

  &.separator {
    @extend .dim-label;

    color: $fg_color;
  }

  row:selected &,
  &:selected { @extend %nobg_selected_items; }

  selection {
    background-color: $primary_color;
    color: $inversed_fg_color;
  }

  &:disabled {
    color: $disabled_fg_color;

    selection { @extend %selected_items:disabled; }

    tab &,
    button &,
    menuitem & { color: inherit; }
  }
}

.dim-label { opacity: $hint_opacity; }

assistant {
  .sidebar {
    padding: 4px 0;
    // background-color: $base_color;
    // border-top: 1px solid $borders_color;
  }

  // &.csd .sidebar { border-top-style: none; }

  .sidebar label {
    min-height: $medium_size;
    padding: 0 12px;
    color: $tertiary_fg_color;
    font-weight: 500;

    &.highlight { color: $fg_color; }
  }
}

%osd, .osd { opacity: $higher_opacity; }

//
// Spinner Animation
//
@keyframes spin {
  to { -gtk-icon-transform: rotate(1turn); }
}

@keyframes spin_colors {
  1% { color: $info_bg_color; } 25% { color: $info_bg_color; }
  26% { color: $question_bg_color; } 50% { color: $question_bg_color; }
  51% { color: $warning_bg_color; } 75% { color: $warning_bg_color; }
  76% { color: $error_bg_color; } 100% { color: $error_bg_color; }
}

spinner {
  background: none;
  opacity: 0; // non spinning spinner makes no sense
  -gtk-icon-source: -gtk-icontheme('process-working-symbolic');

  &:checked {
    opacity: 1;
    animation: spin 1s linear infinite;

    &:disabled { opacity: $disabled_opacity; }
  }
}


//
// Entries
//
%entry_fallback {
  &, &.flat {
    @include entry(fallback-normal);
    &:focus { @include entry(fallback-focus); }
    &:disabled { @include entry(fallback-disabled); }
  }
}

%entry_native {
  .background & {
    @include entry(normal);
    &:focus {
      @include entry(focus);
    }
    &:disabled {
      @include entry(disabled);
    }
  }

  @at-root %flat_entry,
  .background &.flat {
    @include entry(flat-normal);
    border-radius: 0;
    &:focus {
      @include entry(flat-focus);
    }
    &:disabled {
      @include entry(flat-disabled);
    }
  }
}

%entry,
entry {
  %entry_basic, & {
    min-height: $medium_size;
    padding: 0 8px;

    // fallback entries for non-native apps
    @extend %entry_fallback;

    // standard entries for native Gtk+ apps
    @extend %entry_native;

    // fallback linked-entries for non-native apps
    .linked > &, &.flat,
    .linked.vertical > &, &.flat {
      @include entry(fallback-normal);
      border-radius: 2px;
      &:focus { @include entry(fallback-focus); }
      &:disabled { @include entry(fallback-disabled); }
    }

    // standard linked-entries for native Gtk+ apps
    .background .linked > &,
    .background .linked.vertical > &, {
      @include entry(normal);
      border: none;
      &:focus { @include entry(focus); }
      &:disabled { @include entry(disabled); }
    }

    .background .linked > &.flat,
    .background .linked.vertical > &.flat {
      @include entry(flat-normal);
      border: none;
      &:focus { @include entry(flat-focus); }
      &:disabled { @include entry(flat-disabled); }
    }

    image { // icons inside the entry
      // @extend %simple_flat_button;

//      min-height: $small_size;
//      min-width: $small_size;
//      border-radius: $md_radius;
//      -gtk-outline-radius: $md_radius;
      color: gtkalpha(currentColor, $enabled_opacity);

      &:hover, &:active { color: currentColor; }

      &:disabled { color: gtkalpha(currentColor, $hint_opacity); }

       &.left {
        margin-left: ($medium_size - 16px) / 2 - 8px;
        margin-right: 6px;
      }

      &.right {
        margin-left: 6px;
        margin-right: ($medium_size - 16px) / 2 - 8px;
      }
    }

    undershoot {
      &.left { @include undershoot(left); }

      &.right { @include undershoot(right); }
    }

    selection { @extend %selected_items; }

    // entry error and warning style
    @each $e_type, $e_color in (error, $error_color),
                               (warning, $warning_color) {
      &.#{$e_type} {
        @include entry(normal, $e_color);

        &:focus { @include entry(focus, $e_color); }

        &:disabled { @include entry(disabled, $e_color); }

        &.flat {
          @include entry(flat-normal, $e_color);

          &:focus { @include entry(flat-focus, $e_color); }

          &:disabled { @include entry(flat-disabled, $e_color); }
        }
      }
    }

    &:drop(active) {
      // box-shadow: inset 0 0 0 2px $accent_color;
    }

    &.entry-tag { // for libgd apps
      padding: 0 8px;
      border-radius: $circular_radius;
      box-shadow: none;
      background-color: $primary_color;
      color: $inversed_fg_color;

      &:hover { box-shadow: $z-depth-1; }

      &:dir(ltr) { margin: 3px -4px 3px 8px; }
      &:dir(rtl) { margin: 3px 8px 3px -4px; }

      &.button {
        &,
        &:hover,
        &:active { // unset styling
          background-color: transparent;
          background-image: none;
          border-image: none;
          border: none;
          box-shadow: none;
          animation: none;
          margin: 0 -2px;
          padding: 4px;
          border-radius: $circular_radius;
        }

        &:not(:hover):not(:active) { color: $secondary_inversed_fg_color; }
        &:hover,
        &:active { color: $inversed_fg_color; }
      }
    }

    .osd & { }
  }

  progress {
    margin: 2px (2px - 8px);
    border-style: none none solid;
    border-width: 2px;
    border-color: $primary_color;
    // border-radius: 0;
    // box-shadow: none;
    background-color: transparent;
    // background-image: none;
  }

   // linked entries
  .linked:not(.vertical) > & { @extend %linked; }

  // Vertically linked entries
  .linked.vertical > & { @extend %linked_vertical; }

  .linked:not(.vertical) > &.flat,
  .linked.vertical > &.flat { border-radius: 0; }
}

treeview entry {
  &.flat, & {
    min-height: 0;
    padding: 2px;
    border-radius: 0;
    background-color: $base_color;

    &, &:focus {
      border-image: none;
      box-shadow: none;
    }
  }
}

//
// Buttons
//
// stuff for .needs-attention
@keyframes needs_attention {
  from {
    background-image: -gtk-gradient(radial,
                                    center center, 0,
                                    center center, 0.001,
                                    to($accent_color),
                                    to(transparent));
  }

  to {
    background-image: -gtk-gradient(radial,
                                    center center, 0,
                                    center center, 0.5,
                                    to($accent_color),
                                    to(transparent));
  }
}

%button,
button {
  @at-root %button_basic, & {
    min-height: 24px;
    min-width: 16px;
    padding: ($medium_size - 24px) / 2 ($medium_size - 16px) / 2;
    border-radius: $md_radius;
    font-weight: 500;

    // fallback buttons for non-native apps
    @include button(fallback-normal);
    &:hover { @include button(fallback-hover); }
    &:active, &:checked { @include button(fallback-active); }
    &:disabled { @include button(fallback-disabled); }
    &:checked:disabled { @include button(fallback-checked-disabled); }

    // raised buttons for native Gtk+ apps
    .background & {
      @include button(normal);
      &:hover { @include button(hover); }
      &:active { @include button(active); }
      &:disabled { @include button(disabled); }
      &:checked { @include button(checked); }
      &:checked:disabled { @include button(checked-disabled); }
    }

    @at-root %flat_button, &.flat {
      @at-root %simple_flat_button, & {
        @include button(flat-normal);
        &:hover { @include button(flat-hover); }
        &:active { @include button(flat-active); }
        &:disabled { @include button(flat-disabled); }
      }
      &:checked { @include button(flat-checked); }
      &:checked:disabled { @include button(flat-checked-disabled); }
    }

    &.text-button {
      padding-left: 16px;
      padding-right: 16px;
    }

    &.image-button {
      min-width: 24px;
      padding: ($medium_size - 24px) / 2;
      border-radius: $md_radius;
      -gtk-outline-radius: $md_radius;
    }

    &.text-button.image-button {
      border-radius: $md_radius;
      -gtk-outline-radius: $md_radius;

      label {
        &:first-child {
          margin-left: 16px - ($medium_size - 24px) / 2;
          margin-right: 2px;
        }

        &:last-child {
          margin-left: 2px;
          margin-right: 16px - ($medium_size - 24px) / 2;
        }

        &:only-child {
          margin-left: 16px - ($medium_size - 24px) / 2;
          margin-right: 16px - ($medium_size - 24px) / 2;
        }
      }

      image:not(:only-child) {
        &:first-child { margin-left: (24px - 16px) / 2; }

        &:last-child { margin-right: (24px - 16px) / 2; }
      }
    }

    &.close,
    &.round-button,
    &.circular { // The Bloody Circul Button
      @extend %circular_button;
    }

    .linked > & { @extend %linked; }

    .linked.vertical > & { @extend %linked_vertical; }

    .linked > &.flat,
    .linked.vertical > &.flat {
      border-radius: $md_radius;

      &.image-button {
        border-radius: $md_radius;
        -gtk-outline-radius: $md_radius;
      }

      &.text-button.image-button {
        border-radius: $md_radius;
        -gtk-outline-radius: $md_radius;
      }
    }

    &:drop(active) {
      // box-shadow: inset 0 0 0 2px $accent_color;
    }
  }

  @at-root %button_selected, row:selected & {
    &:disabled { color: $disabled_secondary_inversed_fg_color; }
    &.flat {
      color: $secondary_inversed_fg_color;

      &:hover, &:active, &:checked {
        background-color: $track_color;
        color: $inversed_fg_color;
      }

      &:disabled { color: $disabled_secondary_inversed_fg_color; }

      &:checked:disabled {
        background-color: rgba(white, 0.12);
        color: $disabled_inversed_fg_color;
      }
    }
  }

  // big standalone buttons like in Documents pager
  &.osd {
    padding: ($large_size - 24px) / 2 ($large_size - 16px) / 2;

    &.image-button { padding: ($large_size - 24px) / 2; }

    &:disabled { opacity: 0; }
  }

  //overlay / OSD style
  @at-root %osd_button,
  .osd & {
    @extend %flat_button;
    &.flat { @extend %simple_flat_button; }
  }

  // Suggested and Destructive Action buttons
  @each $b_type, $b_color in (suggested-action, $suggested_color),
                             (destructive-action, $destructive_color) {
    &.#{$b_type} {
      background-color: $b_color;
      color: $inversed_fg_color;
      box-shadow: $z-depth-1;
//      @include button(normal, $b_color, $inversed_fg_color);

      &:hover {
        @include button(hover, $b_color, $inversed_fg_color);
        background-color: lighten($b_color, 5%);
        color: $inversed_fg_color;
      }

//      &:active, &:checked {
//        @include button(active, $b_color, $inversed_fg_color);
//        background-color: $b_color;
//        color: $inversed_fg_color;
//      }

      &:disabled { @include button(disabled, $b_color, $inversed_fg_color); }

      &:checked { background-color: mix($inversed_fg_color, $b_color, percentage($lower_opacity)); }

      &.flat {
        background-color: transparent;
        color: $b_color;
        @include button(flat-normal, $b_color, $inversed_fg_color);

        &:hover { @include button(flat-hover, $b_color, $inversed_fg_color); }
        &:active, &:checked { @include button(flat-active, $b_color, $inversed_fg_color); }
        &:disabled { @include button(flat-disabled, $b_color, $inversed_fg_color); }
      }

      .osd & {
      }
    }
  }

  .stack-switcher > & {
    // to position the needs attention dot, padding is added to the button
    // child, a label needs just lateral padding while an icon needs vertical
    // padding added too.

    outline-offset: -4px; // needs to be set or it gets overriden by GtkRadioButton outline-offset

    > label {
      padding-left: 6px;  // label padding
      padding-right: 6px; //
    }

    > image {
      padding-left: 6px;   // image padding
      padding-right: 6px;  //
      padding-top: 3px;    //
      padding-bottom: 3px; //
    }

    &.text-button {
      // compensate text-button paddings
      padding-left: 16px - 6px;
      padding-right: 16px - 6px;
    }

    &.image-button {
      // we want image buttons to have a 1:1 aspect ratio, so compensation
      // of the padding added to the GtkImage is needed
      padding-left: ($medium_size - 16px) / 2 - 6px;
      padding-right: ($medium_size - 16px) / 2 - 6px;
    }

    &.needs-attention {
      > label,
      > image { @extend %needs_attention; }

      &:checked {
        > label,
        > image {
          animation: none;
          background-image: none;
        }
      }
    }
  }

  // hide separators
  separator {
    min-width: 0;
    min-height: 0;
    background: none;
  }

//  make the row image-button be circular
  row &.image-button {
    border-radius: $circular_radius;
    -gtk-outline-radius: $circular_radius;
  }

  // &.font,
  // &.file { separator { background-color: transparent; }}

  // &.font { > box > box > label { font-weight: bold; }}

  // inline-toolbar buttons
  .inline-toolbar & {
    // @extend %button_basic.flat;

    &:not(.text-button) { @extend %simple_flat_button; }
  }

  .primary-toolbar & {
    -gtk-icon-shadow: none; // tango icons don't need shadows
  }
}

%needs_attention {
  animation: needs_attention $shorter_duration $deceleration_curve forwards;
  background-repeat: no-repeat;
  background-position: right 3px;
  background-size: 6px 6px;

  &:dir(rtl) { background-position: left 3px; }
}

row {
  .linked > button { @extend %linked; }
  .linked.vertical > button { @extend %linked_vertical; }
}

toolbutton {
  button,
  button.image-button,
  button.image-button.toggle { @extend %flat_button; } // Use flat button for all toolbuttons
}

// all the following is for the +|- buttons on inline toolbars, that way
// should really be deprecated...
.inline-toolbar toolbutton > button { // redefining the button look is
                                      // needed since those are flat...
}

// More inline toolbar buttons
toolbar.inline-toolbar toolbutton {
  // > button.flat { @extend %linked_middle; }

  // &:first-child > button.flat { @extend %linked:first-child; }

  // &:last-child > button.flat { @extend %linked:last-child; }

  // &:only-child > button.flat { @extend %linked:only-child; }
}

%linked_middle {
  border-radius: 0;
  -gtk-outline-radius: $md_radius;
}

%linked {
  @extend %linked_middle;

  &:first-child {
    border-top-left-radius: $md_radius;
    border-bottom-left-radius: $md_radius;
  }

  &:last-child {
    border-top-right-radius: $md_radius;
    border-bottom-right-radius: $md_radius;
  }

  &:only-child {
    border-radius: $md_radius;
  }
}

%linked_vertical_middle {
  border-radius: 0;
  -gtk-outline-radius: $md_radius
}

%linked_vertical{
  @extend %linked_vertical_middle;

  &:first-child {
    border-top-left-radius: $md_radius;
    border-top-right-radius: $md_radius;
  }

  &:last-child {
    border-bottom-left-radius: $md_radius;
    border-bottom-right-radius: $md_radius;
  }

  &:only-child {
    border-radius: $md_radius;
  }
}

/* menu buttons */
modelbutton.flat,
.menuitem.button.flat {
  min-height: $menuitem_size;
  padding: 0 8px;
  border-radius: $md_radius;
  color: inherit;

  @extend %simple_flat_button;

  &:selected { @extend %selected_items; }

  check,
  radio {
    &:not(:checked):not(:indeterminate) { color: gtkalpha(currentColor, $hint_opacity); }

    &, &:hover { background-image: none; }

    &:active { animation: none; }

    &:last-child { margin-left: -8px; margin-right: -16px; }

    &:first-child { margin-left: -16px; margin-right: -8px; }
  }
}

modelbutton.flat arrow {
  background: none;

  &:hover { background: none; }

  &.left { -gtk-icon-source: -gtk-icontheme("pan-start-symbolic"); }

  &.right { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }
}

button.color {
  min-height: $small_size;
  min-width: $small_size;
  padding: $container_padding;

  colorswatch:only-child {
    // &, overlay { border-radius: 0; }
  }
}

//
// Links
//
*:link {
  &, &:hover, &:active { color: $link_color; }

  &:visited {
    &, &:hover, &:active { color: $link_visited_color; }
  }

  @at-root %link_selected,
  &:selected,
  *:selected & { color: $inversed_fg_color; }
}

button:link,
button:visited {
  @extend *:link;

  > label { text-decoration-line: underline; }
}

//
// GtkSpinButton
//
spinbutton {
  &:not(.vertical) {
    padding: 0;
    // in this horizontal configuration, the whole spinbutton
    // behaves as the entry, so we extend the entry styling
    // and nuke the style on the internal entry
    @extend %entry_fallback;
    @extend %entry_native;

    %spinbutton_entry,
    entry {
      &, // unset all of fallback mode
      &:focus,
      &:disabled {
        min-width: $large_size - 8px * 2;
        // reset all the other props since the spinbutton node is styled here
        margin: 0;
        border: none;
        border-radius: 0;
        box-shadow: none;
        background-color: transparent;
      }
    }

    button {
      // margin: $container_padding;
      @extend %simple_flat_button;

      &, &:hover, &:active, &:checked, &:disabled {
        @extend %small_button;
        border: solid 6px transparent;
      }

      &.up:dir(ltr),
      &.down:dir(rtl) { margin-left: -3px; }

      &.up:dir(rtl),
      &.down:dir(ltr) { margin-right: -3px; }
    }
  }

  // OSD horizontal
  .osd &:not(.vertical) {
    button { }
  }

  // Vertical
  &.vertical {
    // in the vertical configuration, we treat the spinbutton
    // as a box, and tweak the style of the entry in the middle
    // so that it's linked

    // FIXME: this should not be set at all, but otherwise it gets the wrong
    // color
    &:disabled { color: $disabled_fg_color; }

    &:drop(active) {
      box-shadow: none;
    }

    entry {
      min-height: $medium_size;
      min-width: $large_size;
      padding: 0;
    }

    button {
      min-height: $medium_size;
      min-width: $large_size;
      padding: 0;

      @extend %simple_flat_button;

      &.up { border-radius: 2px 2px 0 0; }
      &.down { border-radius: 0 0 2px 2px; }
    }
  }

  // OSD vertical
  .osd &.vertical button:first-child { }

  // Misc
  treeview &:not(.vertical) {
    min-height: 0;
    border-style: none;
    border-radius: 0;

    entry {
      min-height: 0;
      padding: 1px 2px;
    }
  }
}

//
// ComboBoxes
//
combobox {
  arrow {
    -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
    min-height: 16px;
    min-width: 16px;
  }

  // fallback combo node for non-native apps
  @extend %entry_fallback_normal;

  .background & { // unset all properties in combobox node
    border: unset;
    border-image: unset;
    border-radius: unset;
    background-color: unset;
    color: unset;
    box-shadow: unset;
  }

  // fallback combo-entries for non-native apps
  entry.combo {
    border-radius: 2px;
    @include entry(fallback-normal);
    &:focus { @include entry(fallback-focus); }
    &:disabled { @include entry(fallback-disabled); }
  }

  // standard combo-entries for native Gtk+ apps
  .background & entry.combo {
    @include entry(normal);
    border: none;
    &:focus { @include entry(focus); }
    &:disabled { @include entry(disabled); }

    selection {
      &, &:focus { @extend %selected_items; }
    }
  }

  decoration,
  button.combo:checked { transition: none; } // workaround for menuitem selection

  button.combo cellview {
    &:dir(ltr) { margin-left: 8px - ($medium_size - 16px) / 2; }
    &:dir(rtl) { margin-right: 8px - ($medium_size - 16px) / 2; }
  }

  #gtk-combobox-popup-menu {
    padding: 2px 0;

    menuitem {
      min-height: $medium_size - 2px * 2;
      padding: 0 8px;
    }
  }

  &.linked {
    button:nth-child(2) {
      &:dir(ltr) { @extend %linked:last-child; }
      &:dir(rtl) { @extend %linked:first-child; }
    }
  }

  &:drop(active) { // FIXME: untested
    box-shadow: none;

    // button.combo { @extend %button_basic:drop(active); }
  }
}

// workaround for LibreOffice with fallback-mode liked-buttons
@each $order, $edge in (first-child, right),
                       (last-child, left) {
  .linked:not(combobox) > button.combo:#{$order} {
    border-#{$edge}-width: 0;
    &:only-child { border-width: 1px; }
  }
}

// the combo is a composite widget so the way we do button linking doesn't
// work, special case needed. See
// https://bugzilla.gnome.org/show_bug.cgi?id=733979

.linked:not(.vertical) > combobox {
  > box > button.combo { @extend %linked_middle; }

  &:first-child > box > button.combo { @extend %linked:first-child; }
  &:last-child > box > button.combo { @extend %linked:last-child; }
  &:only-child > box > button.combo { @extend %linked:only-child; }
}

.linked.vertical > combobox {
  > box > button.combo { @extend %linked_vertical_middle; }

  &:first-child > box > button.combo { @extend %linked_vertical:first-child; }
  &:last-child > box > button.combo { @extend %linked_vertical:last-child; }
  &:only-child > box > button.combo { @extend %linked_vertical:only-child; }
}


%combo_flat {
  border-radius: 0;
  background: none;
  font-weight: inherit;

  @include entry(flat-normal);

  &:hover {
    box-shadow: inset 0 -2px $high_track_color;
    background: none;
  }

  &:checked {
    background: none;
    border-image: radial-gradient(circle closest-corner at center calc(100% - 1px),
                                  $primary_color 100%,
                                  transparent 0%)
                                  0 0 2 / 0 0 2px;
  }

  &:disabled {
    box-shadow: inset 0 -1px $semi_track_color;
    color: $disabled_fg_color;
    background: none;
  }
}

//
// Toolbars
//
toolbar {
  -GtkWidget-window-dragging: true;
  padding: $container_padding / 2;
  background-color: $bg_color;

  button { @extend %button_basic.flat; }

  // on OSD
  .osd & { background-color: transparent; }

  // stand-alone OSD toolbars
  &.osd {
    padding: $container_padding;
    border-radius: 2px;
    box-shadow: $z-depth-2, inset 0 1px $secondary_highlight_color;
    background-color: $base_color;

    &:backdrop { box-shadow: $z-depth-1, inset 0 1px $secondary_highlight_color; }

    &.left,
    &.right,
    &.top,
    &.bottom { border-radius: 0; } // positional classes for `attached` osd toolbars
  }

  // toolbar separators
  &.horizontal separator { margin: $container_padding / 2; }
  &.vertical separator { margin: $container_padding / 2; }

  &:not(.inline-toolbar):not(.osd) {
    scale,
    entry,
    spinbutton,
    button { margin: $container_padding / 2; }

    .linked entry,
    .linked spinbutton,
    .linked button {
      &:not(:first-child) { margin-left: 0; }
      &:not(:last-child) { margin-right: 0; }
    }

    switch { margin: ($container_padding / 2 + $container_padding) ($container_padding / 2); }
  }
}

%toolbar_flat_button {
  background-color: transparent;
  box-shadow: none;

  &:hover {
    background-color: rgba($fg_color, 0.15);
    box-shadow: none;
  }

  &:disabled {
    background-color: transparent;
  }

  &:active, &:checked {
    color: $fg_color;
    background-color: rgba($fg_color, 0.2);
    box-shadow: none;
  }

  &:checked:disabled {
    color: rgba($fg_color, 0.5);
    background-color: rgba($fg_color, 0.1);
    box-shadow: none;
  }
}

.primary-toolbar {
  button { @extend %toolbar_flat_button; }
  button.combo { @extend %combo_flat; }

  .linked button:not(.combo) { border-radius: $md_radius; }
  .linked button.combo { border-radius: 0; }

  entry,
  spinbutton:not(.vertical) { @extend %flat_entry; }

  spinbutton:not(.vertical) entry { @extend %spinbutton_entry; }
}

//searchbar, location-bar & inline-toolbar
.inline-toolbar {
  padding: $container_padding;
  border-style: solid;
  border-width: 0 1px 1px;
  border-color: $borders_color;
  background-color: $alt_base_color;
}

searchbar,
.location-bar {
  padding: $container_padding;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: $borders_color;
  background-color: $bg_color;
  background-clip: border-box;
}

//
// Header bars
//
%titlebar,
headerbar {
  transition: background-color $shorter_duration $deceleration_curve, color $shorter_duration $deceleration_curve;
  min-height: $medium_size;
  padding: 0 $container_padding;
  box-shadow: $header_shadow;
  background-color: $headerbar_bg_color;
  color: $headerbar_fg_color;

  &:backdrop {
    color: $secondary_headerbar_fg_color;
  }

  .title {
    padding: 0 12px;
    font-weight: bold;
  }

  .subtitle {
    padding: 0 12px;
    font-size: smaller;

    @extend .dim-label;
  }

   @at-root %header_button {
      @include button(header-normal);
      &:hover { @include button(header-hover); }
      &:active { @include button(header-active); }
      &:disabled { @include button(header-disabled); }
      &:checked { @include button(header-checked); }
      // &:checked:hover { @include button(header-checked-hover); }
      &:checked:disabled { @include button(header-checked-disabled); }
    }

//  .background & button,
//  button.flat.toggle.popup,
  button:not(.suggested-action):not(.destructive-action) { @extend %header_button; }

  button.suggested-action, button.destructive-action {
    &:disabled {
      color: gtkalpha(currentColor, $disabled_opacity);
      > label { color: inherit; }
    }
  }

  &.selection-mode {
    transition: background-color 0.00001s $shorter_duration, color $shorter_duration $deceleration_curve;
    animation: header_ripple_effect $shorter_duration $deceleration_curve;
    box-shadow: $z-depth-1, inset 0 1px $secondary_highlight_color;
    background-color: $primary_color;
    color: $inversed_fg_color;

    &:backdrop {
      color: $secondary_inversed_fg_color;
    }

    .subtitle:link { @extend *:link:selected; }

    button:not(.suggested-action):not(.destructive-action) {
      border-image: radial-gradient(circle closest-corner at center calc(100% - 1px),
                                    currentColor 0%,
                                    transparent 0%)
                                    0 0 0 / 0 0 0;
      color: currentColor;

      &:disabled {
        color: gtkalpha(currentColor, $disabled_opacity);

        > label { color: inherit; }
      }

      &:hover {
        border-image: radial-gradient(circle closest-corner at center calc(100% - 1px),
                                    gtkalpha($dark_contrast_color, 0.8) 100%,
                                    transparent 0%)
                                    0 0 2 / 0 0 2px;
        color: gtkalpha($dark_contrast_color, 0.8);

        &, &:disabled { background: none; }
      }

      &:checked {
        border-image: radial-gradient(circle closest-corner at center calc(100% - 1px),
                                      currentColor 100%,
                                      transparent 0%)
                                      0 0 2 / 0 0 2px;
        color: currentColor;

        &:hover { background-color: transparent; color: currentColor; }

        &:disabled {
          color: gtkalpha(currentColor, $disabled_opacity);

          > label { color: inherit; }
        }
      }
    }

    .selection-menu {
      padding-left: 16px;
      padding-right: 16px;

      GtkArrow { -GtkArrow-arrow-scaling: 1; }

      .arrow { -gtk-icon-source: -gtk-icontheme('pan-down-symbolic'); }
    }
  }

  .fullscreen &,
  .tiled &,
  .maximized & {
    border-radius: 0; // squared corners when the window is fullscreen, maximized or tiled
    box-shadow: $z-depth-1;
  }

  &.default-decoration {
    min-height: $small_size;
    padding: $container_padding;

    .tiled &,
    .maximized &,
    .fullscreen & { box-shadow: none; }

    button.titlebutton {
      min-height: 16px;
      min-width: 16px;
      margin: 0 3px;
      padding: 0;
      transition: $shorter_duration;
    }
  }

  &.default-decoration,
  .csd &.default-decoration,
  &.default-decoration:backdrop,
  .csd &.default-decoration:backdrop {  // needed under wayland, since all gtk3 windows are csd windows
    box-shadow: unset;
    box-shadow: inset 0 1px $secondary_highlight_color;
  }

  .solid-csd & {
    &:dir(rtl), &:dir(ltr) { // specificity bump
      margin-left: -2px;
      margin-right: -2px;
      margin-top: -2px;
      border-radius: 0;
      box-shadow: none;
    }
  }

  separator.titlebutton { @extend %header_separator; }

  // Reset buttons and entris
  .linked:not(.vertical):not(.path-bar) > button,
  .linked:not(.vertical):not(.path-bar) > entry {
    &, &:hover, &:active, &:checked, &:disabled {
      border-radius: $md_radius;
    }
  }

  // special case for stack-switchers
  .linked:not(.vertical):not(.path-bar).stack-switcher {
    > button {
      border-radius: 0;
      border-image: radial-gradient(circle closest-corner at center calc(100% - 1px),
                                    $theme_color 0%,
                                    transparent 0%)
                                    0 0 0 / 0 0 0;

      &:hover {
        color: lighten($theme_color, 0.85);
        box-shadow: inset 0 -2px rgba($theme_color, 0.5);
        &, &:disabled { background-color: transparent; }
      }

      &:checked, &:active {
        border-image: radial-gradient(circle closest-corner at center calc(100% - 1px),
                                      $theme_color 100%,
                                      transparent 0%)
                                      0 0 2 / 0 0 2px;
        background: none;
        color: $theme_color;
        border-radius: 0;
      }

      &:checked:hover { background: none; }
    }
  }

  // special case for headerbar path-bars
  .linked:not(.vertical).path-bar {
    > button {
      margin: 0;
      border-radius: 0;

      &:hover {
        color: rgba($theme_color, 0.85);
        box-shadow: inset 0 -3px rgba($theme_color, 0.5);
        &, &:disabled { background: none; }
      }

      &:checked {
        border-image: radial-gradient(circle closest-corner at center calc(100% - 1px),
                                      $theme_color 100%,
                                      transparent 0%)
                                      $line_size;
        background: none;
        color: $theme_color;
        border-radius: 0;

        &:hover { background: none; }
      }
    }
  }
}

%header_separator {
  min-width: 0;
  min-height: 0;
  background-color: $headerbar_bg_color;
  box-shadow: inset 0 1px $secondary_highlight_color;
  border: none;
}

headerbar {
  // add vertical margins to common widget on the headerbar to avoid them spanning the whole height
  entry,
  spinbutton,
  // separator,
  button {
    margin-top: $container_padding;
    margin-bottom: $container_padding;
  }

  switch {
    margin-top: ($large_size - 22px) / 2;
    margin-bottom: ($large_size - 22px) / 2;

    @if $color == 'black' and $headerbar =='dark' {
      background-color: rgba($headerbar_fg_color, $lower_opacity);

      &:disabled { color: rgba($headerbar_fg_color, $disabled_opacity); }

      &:checked {
        background-color: rgba($headerbar_fg_color, 0.5);

        &:disabled { background-color: rgba($headerbar_fg_color, 0.5 * $disabled_opacity); }
      }

      &:checked slider { background-color: $headerbar_fg_color; }
    }
  }

  // reset button margins of the spinbutton
  spinbutton button {
    margin-top: 0;
    margin-bottom: 0;
  }

  // FIXME: This is a hacky workaround.
  .entry-tag {
    margin-top: $container_padding - 1px;
    margin-bottom: $container_padding - 1px;
  }

  separator { @extend %header_separator; }
}

.titlebar {
  &, &.background {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  &, & headerbar {
    box-shadow: $header_shadow, inset 0 1px $secondary_highlight_color;

    .tiled &,
    .maximized &,
    .fullscreen & { box-shadow: none; }
  }
}

.background.tiled .titlebar,
.background.tiled-top .titlebar,
.background.tiled-right .titlebar,
.background.tiled-bottom .titlebar,
.background.tiled-left .titlebar,
.background.maximized .titlebar,
.background.solid-csd .titlebar {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

headerbar { // headerbar border rounding
  separator:first-child + &, // tackles the paned container case
  &:first-child { border-top-left-radius: 2px; }
  &:last-child { border-top-right-radius: 2px; }

  stack & { // tackles the stacked headerbars case
    &:first-child, &:last-child {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      box-shadow: inset 0 1px $secondary_highlight_color, inset 0 -1px $borders_color;
      border: none;
    }
  }

  window.tiled &,
  window.tiled-top &,
  window.tiled-right &,
  window.tiled-bottom &,
  window.tiled-left &,
  window.maximized &,
  window.fullscreen &,
  window.solid-csd & {
    &,
    &:first-child,
    &:last-child,
    &:only-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

window.background > box.vertical > headerbar:not(.titlebar) { // reset headerbar style for not CSD window
  &, &:backdrop { background-color: $headerbar_bg_color; }
  border-radius: 0 0 0 0;
  box-shadow: none;

  // Fixes split headerbars
  separator:first-child + &,
  &:first-child {
    &, &:backdrop {
      border-top-left-radius: 0;
    }
  }

  &:last-child {
    &, &:backdrop {
      border-top-right-radius: 0;
    }
  }
}

.titlebar:not(headerbar) {
  window.csd > & {
    // in csd we assume every titlebar is a headerbar so reset anything, this is needed for split toolbars cases
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
  }

  > separator { // separator between titlebars
    min-width: 1px;
    min-height: 1px;
    background-color: $headerbar_bg_color;
    background-image: image($headerbar_bg_color);
    box-shadow: inset 0 -1px $borders_color, inset 0 1px $secondary_highlight_color;
    border: none;
  }

  @extend %titlebar;
}

.background .titlebar entry,
.background headerbar entry {
  caret-color: $headerbar_fg_color;

  &, &:focus {
    background-color: lighten($headerbar_bg_color, 5%);
    color: $headerbar_fg_color;
  }
}

//
// Pathbars
//
%pathbar_button,
.path-bar button {
  @extend %flat_button;
  border-radius: 2px;
  padding-left: ($medium_size - 24px) / 2;
  padding-right: ($medium_size - 24px) / 2;

  border-image: radial-gradient(circle closest-corner at center calc(100% - 1px),
                                $primary_color 0%,
                                transparent 0%)
                                0 0 0 / 0 0 0;

  &:checked {
    border-image: radial-gradient(circle closest-corner at center calc(100% - 1px),
                                  $primary_color 100%,
                                  transparent 0%)
                                  0 0 2 / 0 0 2px;

    &, &:disabled { background-color: transparent; }
  }

  label:not(:only-child) {
    &:first-child { margin-left: 4px; }

    &:last-child { margin-right: 4px; }
  }

  &.slider-button {
    padding-left: (24px - 16px) / 2;
    padding-right: (24px - 16px) / 2;
  }
}

//
// Tree Views
//
treeview.view {
  @at-root * {
    -GtkTreeView-horizontal-separator: 4;
    -GtkTreeView-grid-line-width: 1;
    -GtkTreeView-grid-line-pattern: '';
    -GtkTreeView-tree-line-width: 1;
    -GtkTreeView-tree-line-pattern: '';
    -GtkTreeView-expander-size: 16;
  }

  border-left-color: $track_color;  // this is actually the tree lines color,
  border-top-color: $borders_color; // while this is the grid lines color, better then nothing

  rubberband { @extend rubberband; } // to avoid borders being overridden by the previously set props

  &:hover, &:active, &:selected { border-radius: 0; }

  &.separator {
    min-height: 1px + 2px * 2;
    color: $borders_color;
  }

  &:drop(active) {
    border-style: solid none;
    border-width: 1px;
    border-color: $accent_color;

    &.after { border-top-style: none; }
    &.before { border-bottom-style: none; }
  }

  &.expander {
    -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
    -gtk-icon-transform: rotate(-90deg);

    &:dir(rtl) { -gtk-icon-transform: rotate(90deg); }
    &:checked { -gtk-icon-transform: unset; }

    color: $secondary_fg_color;

    &:hover, &:active { color: $fg_color; }
    &:disabled { color: $disabled_secondary_fg_color; }

    &:selected {
      color: $secondary_inversed_fg_color;

      &:hover, &:active { color: $inversed_fg_color; }
      &:disabled { color: $disabled_secondary_inversed_fg_color; }
    }
  }

  &.progressbar { // progress bar in treeviews
    border-style: none none solid;
    border-width: $bar_size;
    border-color: $primary_color;
    box-shadow: none;
    background-color: transparent;

    &:selected { border-color: currentColor; }
  }

  &.trough { // progress bar trough in treeviews
    border-style: none none solid;
    border-width: $bar_size;
    border-color: scale-alpha($primary_color, $lower_opacity);
    box-shadow: none;
    background-color: transparent;
    border-radius: 6px;

    &:selected { border-color: $track_color; }
  }

  header {
    button {
      @extend row.activatable;

      padding: 2px 6px;
      border-style: none solid solid none;
      border-width: 1px;
      border-color: $borders_color;
      border-radius: 0;
      background-clip: border-box;

      &, &:hover, &:active { box-shadow: none; }

      &, &:disabled { background-color: $base_color; }

      &:last-child { border-right-style: none; }
    }
  }

  button.dnd,
  header.button.dnd { // for treeview-like derive widgets
    padding: 2px 6px;
    border-style: none solid solid;
    border-width: 1px;
    border-color: $borders_color;
    border-radius: 0;
    box-shadow: none;
    background-color: $base_color;
    background-clip: border-box;
    color: $primary_color;
  }

  acceleditor > label { background-color: $primary_color; } // see tests/testaccel to test
}

//
// Menus
//
menubar,
.menubar {
  -GtkWidget-window-dragging: true;
  padding: 0;
//  box-shadow: inset 0 -1px scale-alpha($borders_color, 0.9);
  background-color: $headerbar_bg_color;

  > menuitem {
    min-height: 20px;
    padding: 4px 8px;
    color: $secondary_headerbar_fg_color;

    &:hover { //Seems like it :hover even with keyboard focus
      transition: background-color $shorter_duration $deceleration_curve;
      border-radius: 2px 2px 0 0;
      background-color: $primary_color;
      color: $dark_contrast_color;
    }

    &:disabled { color: $disabled_headerbar_fg_color; }

  }
}

menu,
.menu,
.context-menu {
  margin: 4px;
  padding: 2px 0px;
  box-shadow: none;
  background-color: $menu_bg_color;
  border: none;
  border-radius: 0;

  // .csd & {
  //   border: none; // axes borders in a composited env
  //   border-radius: 0;
  // }

  menuitem {
    transition: background-color $shorter_duration $deceleration_curve;
    min-height: 20px;
    min-width: 40px;
    padding: 4px 8px;
    font: initial;
    text-shadow: none;
    color: $menu_fg_color;

    &:hover {
      transition: none;
      color: $dark_contrast_color;
      background-color: $primary_color;
    }

   &:disabled, label:disabled { color: $disabled_menu_fg_color; }
   label { &:dir(rtl), &:dir(ltr) { color: inherit; }}

    // submenu indicators
    arrow {
      min-height: 16px;
      min-width: 16px;

      &:dir(ltr) {
        -gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
        margin-left: 8px;
      }

      &:dir(rtl) {
        -gtk-icon-source:-gtk-icontheme('pan-end-symbolic-rtl');
        margin-right: 8px;
      }
    }
  }

  // overflow arrows
  > arrow {
    min-height: 16px;
    min-width: 16px;
    padding: 4px;
    border-radius: 0;
    background-color: $menu_bg_color;
    color: $secondary_headerbar_fg_color;

    &.top {
      margin-top: -4px;
      border-bottom: 1px solid $borders_color;
      -gtk-icon-source: -gtk-icontheme('pan-up-symbolic');
    }

    &.bottom {
      margin-bottom: -4px;
      border-top: 1px solid $borders_color;
      -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
    }

    &:hover {
      background-image: image(gtkalpha(currentColor, $lower_opacity / 2));
      color: $headerbar_fg_color;
    }

    &:disabled {
      border-color: transparent;
      background-color: transparent;
      color: transparent;
    }
  }

  separator,
  .csd & separator {
      margin: 3px 0;
      border-bottom: 1px solid $borders_color;
      color: transparent;
      background-color: transparent;
    }
}

menuitem {
  accelerator { color: gtkalpha(currentColor, $hint_opacity); }
}

.csd.popup { border-radius: 2px; }

//
// Popovers
//
%flat_theme_button {
  box-shadow: none;
  background-color: transparent;
  transition: $shorter_transition,
              background-size 0,
              background-image 0;

  &:hover {
    background-color: rgba($fg_color, 0.15);
    color: $fg_color;
  }

  &:active {
    @include button(header-active);
  }

  &:checked {
    @include button(header-checked);

    // &:hover {
    //   @include button(header-checked-hover);
    // }
  }

  &:disabled {
    background-color: transparent;
    color: $disabled_fg_color;
  }

  &:checked:disabled {
    background-color: rgba($primary_color, 0.5);
    color: rgba($inversed_fg_color, 0.5);
  }
}

popover.background {
  transition: $shadow_transition;
  padding: 0;
  box-shadow: $z-depth-2;
  background-color: $lighter_bg_color;

  &:backdrop { box-shadow: $z-depth-1; }

  &, .csd & {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.3);
    border-radius: 2px + 1px;
  }

  > list,
  > .view,
  > toolbar {
    border-style: none;
    box-shadow: none;
    background-color: transparent;
  }

  &, .csd & {
    &.touch-selection,
    &.magnifier,
    &.osd { @extend %osd; }
  }

  entry { @extend %flat_entry; }
  button.combo { @extend %combo_flat; }

  .linked button:not(.combo) { border-radius: $md_radius; margin: 0 2px; }
  .linked button { border-radius: 0; }

  button:not(.suggested-action):not(.destructive-action) {
    @extend %flat_theme_button;
  }

  &.menu button,
  button.model {
    // @extend %flat_button;
    // @extend %linked;
    margin: 0;
    min-height: 32px;
    padding: 0 6px;
    box-shadow: none;
  }

  separator { margin: 4px 0; }
  list separator { margin: 0; }
}

//
// Notebooks
//
notebook {
  > header {
    border-width: 1px;
    border-color: $borders_color;
    background-color: $bg_color;
    background-clip: border-box;

    &.top {
      border-bottom-style: solid;
      > tabs {
        margin-bottom: -1px;
        > tab {

          &:hover { box-shadow: inset 0 -2px gtkalpha($tab_color, $lower_opacity); }

          &:checked { box-shadow: inset 0 -2px $tab_color; }
        }
      }
    }

    &.bottom {
      border-top-style: solid;
      > tabs {
        margin-top: -1px;
        > tab {

          &:hover { box-shadow: inset 0 2px gtkalpha($tab_color, $lower_opacity); }

          &:checked { box-shadow: inset 0 2px $tab_color; }
        }
      }
    }

    &.left {
      border-right-style: solid;
      > tabs {
        margin-right: -1px;
        > tab {

          &:hover { box-shadow: inset -2px 0 gtkalpha($tab_color, $lower_opacity); }

          &:checked { box-shadow: inset -2px 0 $tab_color; }
        }
      }
    }

    &.right {
      border-left-style: solid;
      > tabs {
        margin-left: -1px;
        > tab {

          &:hover { box-shadow: inset 2px 0 gtkalpha($tab_color, $lower_opacity); }

          &:checked { box-shadow: inset 2px 0 $tab_color; }
        }
      }
    }

    &.top > tabs > arrow {
      @extend %notebook_vert_arrows;

      border-top-style: none;
    }

    &.bottom > tabs > arrow {
      @extend %notebook_vert_arrows;

      border-bottom-style: none;
    }

    @at-root %notebook_vert_arrows {
      padding-left: 4px;
      padding-right: 4px;

      &.down {
        margin-left: -8px;
        -gtk-icon-source: -gtk-icontheme('pan-start-symbolic');
      }

      &.up {
        margin-right: -8px;
        -gtk-icon-source: -gtk-icontheme('pan-end-symbolic');
      }
    }

    &.left > tabs > arrow {
      @extend %notebook_horz_arrows;

      border-left-style: none;
    }

    &.right > tabs > arrow {
      @extend %notebook_horz_arrows;

      border-right-style: none;
    }

    @at-root %notebook_horz_arrows {
      padding-top: 4px;
      padding-bottom: 4px;

      &.down {
        margin-top: -8px;
        -gtk-icon-source: -gtk-icontheme('pan-up-symbolic');
      }

      &.up {
        margin-bottom: -8px;
        -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
      }
    }

    > tabs > arrow {
      @extend %simple_flat_button;

      min-height: 16px;
      min-width: 16px;
      border-radius: 0;
    }

    tab {
      transition: $shorter_transition,
                  background-size 0,
                  background-image 0;
      min-height: $small_size;
      min-width: $small_size;
      padding: $container_padding 12px;

      outline-offset: -6px;

      border-width: 1px;         // for reorderable tabs
      border-color: transparent; //

      background-image: radial-gradient(circle farthest-corner at center,
                                        $semi_track_color 10%,
                                        transparent 0%);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 0% 0%;

      color: $secondary_fg_color;
      font-weight: 500;

      &:hover {
        color: $fg_color;

        &.reorderable-page {
          border-color: $borders_color;
          background-color: $alt_base_color;
        }
      }

      &:disabled { color: $disabled_secondary_fg_color; }

      &:checked {
        transition: $shorter_transition,
                    background-size $shorter_duration $deceleration_curve,
                    background-image $shorter_duration + $ripple_duration $deceleration_curve;
        background-image: radial-gradient(circle farthest-corner at center,
                                          transparent 10%,
                                          transparent 0%);
        background-size: 1000% 1000%;
        color: $fg_color;

        &:disabled { color: $disabled_fg_color; }

        &.reorderable-page {
          border-color: $borders_color;
          background-color: $base_color;
        }
      }

      // close button
      // colors the button like the label, overridden otherwise
      button.flat {
           min-height: 24px;
           min-width: 24px;
           padding: 0;
           border-radius: $circular_radius;
           -gtk-outline-radius: $circular_radius;
      }
    }

    &.top,
    &.bottom {
      tabs {
        padding-left: 8px;
        padding-right: 8px;

        &:not(:only-child) {
          &:first-child { margin-left: 0; }
          &:last-child { margin-right: 0; }
        }

        tab {
          &.reorderable-page {
            margin: 0 -1px;
            border-style: none solid;
          }
        }
      }
    }

    &.left,
    &.right {
      tabs {
        padding-top: 8px;
        padding-bottom: 8px;

        &:not(:only-child) {
          &:first-child { margin-top: 0; }
          &:last-child { margin-bottom: 0; }
        }

        tab {
          &.reorderable-page {
            margin: -1px 0;
            border-style: solid none;
          }
        }
      }
    }
  }

  > stack:not(:only-child) { // the :not(:only-child) is for "hidden" notebooks
    background-color: $base_color;

    entry,
    spinbutton:not(.vertical) { @extend %flat_entry; }

    revealer entry,
    revealer spinbutton:not(.vertical) { @extend %entry; }

    spinbutton:not(.vertical) entry { @extend %spinbutton_entry; }
    button.combo { @extend %combo_flat; }
  }
}

//
// Scrollbars
//
scrollbar {
  $_slider_min_length: 24px;

  // disable steppers
  @at-root * {
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
  }

  transition: $shorter_transition;
  background-color: $base_color;
  background-clip: $extra_background_clip;

  // scrollbar border
  &.top { border-bottom: 1px solid $borders_color; }
  &.bottom { border-top: 1px solid $borders_color; }
  &.left { border-right: 1px solid $borders_color; }
  &.right { border-left: 1px solid $borders_color; }

  // slider
  slider {
    transition: $shorter_transition, margin 0, border-width 0;
    min-width: 5px;
    min-height: 5px;
    border: 3px solid transparent;
    border-radius: 100px;
    background-clip: padding-box;
    background-color: $tertiary_fg_color;

    &:hover { background-color: $tertiary_fg_color; }
    &:active { background-color: $secondary_fg_color; }
    &:disabled { background-color: $disabled_tertiary_fg_color; }
  }

  &.fine-tune {
    slider {
      transition: $shorter_transition, margin 0, border-width 0, min-width 0, min-height 0;
      min-width: 4px;
      min-height: 4px;
    }

    &.horizontal slider { margin: 2px 0; }
    &.vertical slider { margin: 0 2px; }
  }

  &.overlay-indicator {
    &:not(.dragging):not(.hovering) {
      border-color: transparent;
      background-color: transparent;

      slider {
        min-width: 4px;
        min-height: 4px;
        margin: 4px - 1px;
        border: 1px solid scale-alpha($base_color, $lower_opacity);
      }

      button {
        min-width: 4px;
        min-height: 4px;
        margin: 4px - 1px;
        border: 1px solid scale-alpha($base_color, $lower_opacity);
        border-radius: $circular_radius;
        background-color: $tertiary_fg_color;
        background-clip: padding-box;
        -gtk-icon-source: none;

        &:disabled { background-color: $disabled_tertiary_fg_color; }
      }

      &.horizontal {
        slider { min-width: $_slider_min_length; }
        button { min-width: 8px; }
      }

      &.vertical {
        slider { min-height: $_slider_min_length; }
        button { min-height: 8px; }
      }
    }

    &.dragging,
    &.hovering { background-color: scale-alpha($base_color, $higher_opacity); }
  }

  &.horizontal slider { min-width: $_slider_min_length; }

  &.vertical slider { min-height: $_slider_min_length; }

  // button styling
  button {
    @extend %simple_flat_button;

    min-width: 16px;
    min-height: 16px;
    padding: 0;
    border-radius: 0;
  }

  // button icons
  &.vertical {
    button {
      &.down { -gtk-icon-source: -gtk-icontheme('pan-down-symbolic'); }
      &.up { -gtk-icon-source: -gtk-icontheme('pan-up-symbolic'); }
    }
  }

  &.horizontal {
    button {
      &.down { -gtk-icon-source: -gtk-icontheme('pan-end-symbolic'); }
      &.up { -gtk-icon-source: -gtk-icontheme('pan-start-symbolic'); }
    }
  }
}

//
// Switch
//
switch {
  transition: all $shorter_duration $deceleration_curve;
  margin: $container_padding 0;
  border: 5px solid transparent;
  border-radius: $circular_radius;
  background-color: rgba($fg_color, 0.25);
  background-clip: padding-box;
  color: transparent;
  font-size: 0;

  &:disabled { opacity: 0.5; }

  &:checked {
    background-color: rgba($accent_color, 0.5);
  }

  slider {
    transition: all $shorter_duration $deceleration_curve;
    min-width: 20px;
    min-height: 20px;
    margin: -3px;
    border-radius: $circular_radius;
    box-shadow: 0 0 0 10px transparent, $z-depth-1;
    background-color: $lighter_bg_color;
    color: $lighter_bg_color;
  }

  &:hover slider { color: $fg_color; box-shadow: 0 0 0 10px gtkalpha(currentColor, 0.1), $z-depth-1; }
  &:focus slider { color: $accent_color; box-shadow: $z-depth-1; }
  &:focus:hover slider { color: $accent_color; box-shadow: 0 0 0 10px gtkalpha(currentColor, 0.1), $z-depth-1; }
  &:checked slider {
    background-color: $accent_color;
    color: $accent_color;
  }

  row:selected & {
      background-color: gtkalpha($light_contrast_color, 0.2);

      &:checked {
        background-color: gtkalpha($inversed_fg_color, $middle_opacity);
      }

    slider {
      background-color: lighten($accent_color, 25%);
    }

    &:checked slider {
      animation: none;
      background-color: $inversed_fg_color;
    }
  }
}


//
// Check and Radio items
//
// draw regular check and radio items using our PNG assets
// all assets are rendered from assets.svg. never add pngs directly

//selection-mode
.view.content-view.check:not(list),
.content-view .tile check:not(list) {
  min-height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -gtk-icon-shadow: $z-depth-1;

  &:hover, &:active { -gtk-icon-shadow: $z-depth-2; }

@each $s, $as in ('', '-selectionmode'),
                (':hover', '-hover-selectionmode'),
                (':checked', '-checked-selectionmode'),
                (':checked:hover', '-checked-hover-selectionmode') {
  .view.content-view.check#{$s}:not(list) {
    -gtk-icon-shadow: $z-depth-1;
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox#{$as}#{$asset_suffix}.png"),
                                  url("assets/checkbox#{$as}#{$asset_suffix}@2.png"));
    margin: 8px;
    background-color: transparent;
    }
  }
}

checkbutton,
radiobutton {
  outline: none;
}

checkbutton.text-button,
radiobutton.text-button {
  // this is for a nice focus on check and radios text
  padding: 2px;
  outline-offset: 0;

  label:not(:only-child) { margin: 0 4px; }
}

%check_radio_button,
checkbutton > check:not(:checked):not(:indeterminate),
radiobutton > radio:not(:checked):not(:indeterminate) {
  color: gtkalpha($fg_color, $enabled_opacity);
  &:hover, &:active { color: $fg_color; }
  &:disabled { color: gtkalpha($fg_color, $enabled_opacity * $disabled_opacity); }
}

%row_selected_button,
checkbutton check,
radiobutton radio {
  row &:selected,
  treeview.view &:selected,
  row.activatable &:selected {
    &, &:focus {
      &, &:active, &:checked, &:indeterminate {
        color: $secondary_inversed_fg_color;
        &:disabled { color: $disabled_secondary_inversed_fg_color; }
      }

      &:hover {
        color: $inversed_fg_color;
        &:disabled { color: $disabled_inversed_fg_color; }
      }
    }
  }
}

check,
radio {
  min-height: 24px;
  min-width: 24px;
  margin: -($large_size - 24px) / 2;
  padding: ($large_size - 24px) / 2;

  @extend %simple_flat_button;
  @extend %circular_button;
  @extend %row_selected_button;

  &:checked, &:indeterminate {
    color: $inverse_theme_color;

    &:disabled {  color: scale-alpha($inverse_theme_color, $disabled_opacity); }
  }

  // &:only-child { margin: -12px; }

  popover & {
    &, &:hover, &:disabled {
      box-shadow: none;
      background-image: none;
      border-image: none;
      background-color: transparent;
    }

    &:not(:checked):not(:indeterminate):not(:disabled) { color: $secondary_fg_color; }

    &.left:dir(rtl) {
      margin-left: -16px;
      margin-right: -8px;
    }

    &.right:dir(ltr) {
      margin-left: -8px;
      margin-right: -16px;
    }
  }

  menu menuitem & {
    transition: none;
    margin: 0; // this is a workaround for a menu check/radio size allocation issue
    padding: 0;
    box-shadow: none;
    border-image: none;
    background-image: none;
    color: gtkalpha(currentColor, $hint_opacity);

    &:dir(ltr) { margin-right: 8px; }

    &:dir(rtl) { margin-left: 8px; }

    &:hover, &:checked:hover, &:indeterminate:hover { color: $dark_contrast_color; }

    &:disabled { color: gtkalpha($dark_contrast_color, 0.5); }

    &:checked, &:indeterminate {
      color: $theme_color;
      &:disabled {  color: scale-alpha($theme_color, $disabled_opacity); }
    }
  }
}

%small_check,
menu menuitem check {
  min-height: 16px;
  min-width: 16px;
  padding: 0;
  margin: 0;
  border-radius: 2px;
  -gtk-outline-radius: 2px;
  -gtk-icon-shadow: none;
  border-image: none;
  background-image: none;
  -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/small-checkbox-unchecked-symbolic.svg")));

  &:checked { -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/small-checkbox-checked-symbolic.svg"))); }
  &:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/small-checkbox-mixed-symbolic.svg"))); }
}

%small_radio,
menu menuitem radio {
  min-height: 16px;
  min-width: 16px;
  padding: 0;
  margin: 0;
  -gtk-icon-shadow: none;
  border-image: none;
  background-image: none;
  -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/small-radio-unchecked-symbolic.svg")));

  &:checked { -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/small-radio-checked-symbolic.svg"))); }
  &:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/small-radio-mixed-symbolic.svg"))); }
}

%check,
check {
  & { -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/check-unchecked-symbolic.svg"))); }
  &:checked { -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/check-checked-symbolic.svg"))); }
  &:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/check-dash-symbolic.svg"))); }
}

%radio,
radio {
  & { -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/radio-unchecked-symbolic.svg"))); }
  &:checked { -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/radio-checked-symbolic.svg"))); }
  &:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/radio-dash-symbolic.svg"))); }
}

// ANIMATION:
// this is made with those pretty convoluted transitions, since checks and radios have to animate only on state changes,
// the transformation is set on the active state and it get reset on the checked state.
check:not(:checked):active { -gtk-icon-transform: rotate(90deg); }

// radio:not(:checked):active { -gtk-icon-transform: scale(0); }

check:not(:checked):indeterminate:active,
radio:not(:checked):indeterminate:active { -gtk-icon-transform: scaleX(-1); } // instead of rotateY(180deg)

check:not(:checked),
radio:not(:checked) {
  & {
    transition: $shorter_transition,
                background-size $ripple_duration $deceleration_curve,
                background-image $ripple_duration * 2 $deceleration_curve,
                -gtk-icon-transform 0;
  }

  &:active {
    transition: $shorter_transition,
                background-size 0,
                background-image 0,
                -gtk-icon-transform 0;
  }

  menu menuitem & { transition: none; }
}

treeview.view check,
treeview.view radio {
  padding: 0;

  &:hover {
    box-shadow: none;
    background-image: none;
    background-color: transparent;

    &:disabled { box-shadow: none; }
    &:selected { box-shadow: none; }
  }

  & {
    color: $secondary_fg_color;
    &:hover, &:active { color: $fg_color; }
    &:disabled { color: $disabled_secondary_fg_color; }
    &:checked, &:indeterminate { color: $accent_color; }
    &:checked:disabled, &:indeterminate:disabled { color: scale-alpha($accent_color, $disabled_opacity); }
  }

}

treeview.view radio:checked {
  -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/radio-checked-symbolic.svg")));
  border-image: none;
}

//
// GtkScale
//
scale {
  // sizing
  $_marks_lenght: 8px;
  $_marks_distance: 7px;

  $slider_size: 32px;
  $marks_slider_size: 38px;

  $trough_size: 2px;

  $slider_margin: -($slider_size - $trough_size) / 2;
  $marks_slider_margin: -($marks_slider_size - $trough_size) - $slider_margin;

  $color_slider_margin: -($slider_size) / 2;
  $color_marks_slider_margin: -($marks_slider_size - 16px) - $color_slider_margin;

  min-height: $medium_size - $slider_size;
  min-width: $medium_size - $slider_size;
  padding: ($slider_size / 2);

  // the slider is inside the trough, so to have make it bigger there's a negative margin
  slider {
    min-height: $slider_size;
    min-width: $slider_size;
    margin: $slider_margin;
  }

  // the backing bit
  trough {
    transition: background-color $shorter_duration $deceleration_curve;
    outline: none;
    background-color: $track_color;

    &:disabled { background-color: $semi_track_color; }
  }

  // the colored part of the backing bit
  highlight {
    transition: background-color $shorter_duration $deceleration_curve;
    background-color: $accent_color;

    &:disabled { background-color: transparent; }
  }

  // this is another differently styled part of the backing bit, the most relevant use case is for example
  // in media player to indicate how much video stream as been cached
  fill {
    transition: background-color $shorter_duration $deceleration_curve;
    background-color: $track_color;

    &:disabled { background-color: transparent; }
  }

  slider {
    transition: background-color $shorter_duration $deceleration_curve,
                background-size $ripple_duration $deceleration_curve,
                background-image $ripple_opacity_duration $deceleration_curve;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto, 1000% 1000%;
    border-radius: 100%;
    // background-color: transparent;
    color: transparent;

    @each $s, $as in ('', ''),
                     (':disabled', '-disabled') {
      &#{$s} {
        $_url: 'assets/scale-slider#{$as}#{$asset_suffix}';

        background-image: -gtk-scaled(url('#{$_url}.png'), url('#{$_url}@2.png')),
                          radial-gradient(circle farthest-corner at center,
                                          currentColor 10%,
                                          transparent 0%);
      }
    }

    &:hover { background-color: rgba($accent_color, 0.10); }
    &:focus { background-color: rgba($accent_color, 0.12); }
    &:focus:hover { background-color: rgba($accent_color, 0.16); }

    &:active {
      transition: background-color $shorter_duration $deceleration_curve,
                  background-size 0,
                  background-image 0;
      animation: scale_ripple_effect $longer_duration $deceleration_curve forwards;
      background-size: auto, 0% 0%;
      background-color: rgba($accent_color, 0.12);
      color: rgba($accent_color, 0.15);
    }

    // &:disabled, &:backdrop {
    //   background-color: transparent;
    //   color: rgba($accent_color, 0.06);
    // }
  }

  // click-and-hold the slider to activate
  &.fine-tune {
    // to make the slider shrink in fine-tune mode
    slider { background-size: calc(100% - 12px); }
  }

  marks label,
  value { color: gtkalpha(currentColor, $hint_opacity); }

  marks {
    color: $track_color;

    @each $marks_class, $marks_pos, $marks_margin in (top, top, bottom),
                                                     (bottom, bottom, top),
                                                     (top, left, right),
                                                     (bottom, right, left) {
      &.#{$marks_class} {
        margin-#{$marks_margin}: $_marks_distance;
        margin-#{$marks_pos}: -($_marks_distance + $_marks_lenght);
      }
    }
  }

  &.horizontal {
    indicator {
      min-height: $_marks_lenght;
      min-width: 1px;
    }
  }

  &.vertical {
    indicator {
      min-height: 1px;
      min-width: $_marks_lenght;
    }
  }

  // *WARNING* scale with marks madness following

  @each $dir_class, $dir_infix in ('horizontal', 'horz'),
                                  ('vertical', 'vert') {
    @each $marks_infix, $marks_class in ('marks-before', 'marks-before:not(.marks-after)'),
                                        ('marks-after', 'marks-after:not(.marks-before)') {
      &.#{$dir_class}.#{$marks_class} {
        slider {
          @each $state, $state_infix in ('', ''),
                                        (':disabled', '-disabled') {
            &#{$state} {
              $_scale_asset: 'assets/scale-#{$dir_infix}-#{$marks_infix}-slider#{$state_infix}#{$asset_suffix}';

              background-image: -gtk-scaled(url('#{$_scale_asset}.png'), url('#{$_scale_asset}@2.png')),
                                radial-gradient(circle farthest-corner at center,
                                                currentColor 10%,
                                                transparent 0%);
            }
          }
        }
      }
    }
  }

  &.color {
    min-height: 0;
    min-width: 0;

    &.horizontal {
      padding: 0 0 12px 0;

      slider {
        &:dir(ltr), &:dir(rtl) { // specificity bump
          margin-bottom: $color_slider_margin;
          margin-top: $color_marks_slider_margin;
        }
      }
    }

    &.vertical {
      &:dir(ltr) {
        padding: 0 0 0 12px;

        slider {
          margin-left: $color_slider_margin;
          margin-right: $color_marks_slider_margin;
        }
      }

      &:dir(rtl) {
        padding: 0 12px 0 0;

        slider {
          margin-right: $color_slider_margin;
          margin-left: $color_marks_slider_margin;
        }
      }
    }
  }
}

//
// Progress bars
//
progressbar {
  // sizing
  &.horizontal {
    trough,
    progress { min-height: $bar_size; }
  }

  &.vertical {
    trough,
    progress { min-width: $bar_size; }
  }

  // FIXME: insensitive state missing and some other state should be set probably
  color: $tertiary_fg_color;
  font-size: smaller;

  trough { background-color: scale-alpha($primary_color, $lower_opacity); border-radius: 6px; }

  progress { background-color: $primary_color; border-radius: 6px; }

  &.osd { // progressbar.osd used for epiphany page loading progress
    // min-width: $bar_size;
    // min-height: $bar_size;
    // background-color: transparent;

    // trough { background-color: transparent; }

    progress {
    }
  }
}

//
// Level Bar
//
levelbar {
  block {
    min-width: $medium_size;
    min-height: $bar_size;
  }

  &.vertical block {
    min-width: $bar_size;
    min-height: $medium_size;
  }

  trough {
    padding: 2px;
    border-radius: 6px;
    @include entry(normal);

    &:disabled { @include entry(disabled); }
  }

  &.horizontal.discrete block { margin: 0 1px; }
  &.vertical.discrete block { margin: 1px 0; }
  &.horizontal.discrete trough { padding: 2px 1px; }
  &.vertical.discrete trough { padding: 1px 2px; }

  block {
    &.low {
      background-color: $warning_color;
    }

    &.high,
    &:not(.empty) {
      background-color: $primary_color;
    }

    &.full {
      background-color: $success_color;
    }

    &.empty {
      background-color: $track_color;
      color: $disabled_fg_color;
    }
  }
}

//
// Print dialog
//
printdialog {
  paper {
    padding: 0;
    border: 1px solid $borders_color;
    background-color: $base_color;
    color: $fg_color;
  }

  .dialog-action-box { margin: 12px; }
}

//
// Frames
//
frame > border,
.frame {
  margin: 0;
  padding: 0;
  border: 1px solid $borders_color;
  border-radius: 0;
  box-shadow: none;

  &.flat { border-style: none; }
}

actionbar > revealer >  box {
  padding: $container_padding;
  border-top: 1px solid $borders_color;

  button:not(.suggested-action):not(.destructive-action):not(.server-list-button) { @extend %button_basic.flat; }
}

scrolledwindow {
  viewport.frame { // avoid double borders when viewport inside scrolled window
    border-style: none;
  }

  // This is used when content is touch-dragged past boundaries.
  // draws a box on top of the content, the size changes programmatically.
  @at-root overshoot {
    &.top { @include overshoot(top); }

    &.bottom { @include overshoot(bottom); }

    &.left { @include overshoot(left); }

    &.right { @include overshoot(right); }
  }

  // Overflow indication, works similarly to the overshoot, the size if fixed tho.
  @at-root undershoot {
    &.top { @include undershoot(top); }

    &.bottom { @include undershoot(bottom); }

    &.left { @include undershoot(left); }

    &.right { @include undershoot(right); }
  }

  @at-root junction { // the small square between two scrollbars
    border-style: solid none none solid;
    border-width: 1px;
    border-color: $borders_color;
    background-color: $base_color;

    &:dir(rtl) { border-style: solid solid none none; }
  }
}

//vbox and hbox separators
separator {
  min-width: 1px;
  min-height: 1px;
  background-color: $borders_color;
}

//
// Lists
//
list {
  border-color: $borders_color;
  background-color: $base_color;

  row { padding: 2px; }
}

// FIXME
$row_transition: $shorter_transition, background-color 0, color 0;

row {
  &.activatable {
    transition: $row_transition;
    background-image: none;

    &:hover {
      transition: $row_transition;
      background-color: $row_track_color;
    }

    &.has-open-popup, // this is for indicathing which row generated a popover see https://bugzilla.gnome.org/show_bug.cgi?id=754411
    &:active {
      transition: $row_transition,
                  background-size 0,
                  background-image 0;
      animation: ripple_effect $shorter_duration $deceleration_curve forwards;
    }
  }

  &:selected { @extend %selected_items; &:hover { background-color: lighten($primary_color, 5%); } }
}

//
// App Notifications
//
.app-notification {
  @extend %osd;
  @extend toolbar.osd;
  margin: 8px;

  button { @extend %button_basic.flat; }

  &.frame,
  border { border-style: none; }
}

//
// Expanders
//
expander {
  arrow {
    transition: all $shorter_duration $standard_curve;
    min-width: 16px;
    min-height: 16px;
    -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
    -gtk-icon-transform: rotate(-90deg);

    &:dir(rtl) { -gtk-icon-transform: rotate(90deg); }
    &:checked { -gtk-icon-transform: unset; }

    color: $secondary_fg_color;

    &:hover, &:active { color: $fg_color; }
    &:disabled { color: $disabled_secondary_fg_color; }

    &:selected {
      color: $secondary_inversed_fg_color;

      &:hover, &:active { color: $inversed_fg_color; }
      &:disabled { color: $disabled_secondary_inversed_fg_color; }
    }
  }
}

//
// Calendar
//
calendar {
  margin: 2px;
  padding: 2px 6px;
  border: 1px solid $borders_color;
  color: $fg_color;

  &:disabled { color: $disabled_fg_color; }

  &:selected {
    border-radius: 3px;
    @extend %selected_items;
  }

  &.header {
    border-style: none none solid;
    border-radius: 0;
  }

  &.button { @extend %simple_flat_button; border-radius: 3px; }

  &.highlight {
    color: gtkalpha(currentColor, $hint_opacity);
    font-weight: 500;
  }

  &:indeterminate { color: gtkalpha(currentColor, $disabled_opacity); }
}

//
// Dialogs
//
messagedialog { // Message Dialog styling
  &.background { background-color: $lighter_bg_color; }

  .titlebar {
    min-height: $small_size;
    border-style: none;
    box-shadow: inset 0 1px $secondary_highlight_color;
    background-color: $lighter_bg_color;
    color: $fg_color;

    &:backdrop { color: $secondary_fg_color; }
  }

  .dialog-action-area button {
    padding: 4px 12px;
    border-top: 1px solid $borders_color;
    border-radius: 0;
    @extend %simple_flat_button;

    &:first-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &:last-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  @each $b_type, $b_color in (suggested-action, $suggested_color),
                             (destructive-action, $destructive_color) {
    .dialog-action-area button.#{$b_type} {
      color: $b_color;
      transition: $shorter_transition,
                  $shadow_transition,
                  background-size $ripple_duration $deceleration_curve,
                  background-image $ripple_opacity_duration $deceleration_curve;

      &:hover {
        color: $b_color;
        background-color: transparent;
      }

      &:active {
        transition: $shorter_transition,
                    background-size 0,
                    background-image 0;
        animation: ripple_effect $shorter_duration $deceleration_curve forwards;
        color: $inversed_fg_color;
        border-color: rgba($b_color, 0.75);
        box-shadow: inset 0 0 0 9999px rgba($b_color, 0.5);
        background-image: radial-gradient(circle farthest-corner at center,
                                          rgba($b_color, 0.5) 10%,
                                          transparent 0%);
        background-size: 0% 0%;
      }

      &:disabled { opacity: 0.65; }
    }
  }

  &.csd { // rounded bottom border styling for csd version
    &.background {
      // bigger radius for better antialiasing
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    .dialog-action-area button {
      padding: 8px 16px;
      border-top: 1px solid $borders_color;
      border-radius: 0;
      @extend %simple_flat_button;

      &:first-child {
        border-bottom-left-radius: 2px;
        border-top-left-radius: 0;
      }

      &:last-child {
        border-bottom-right-radius: 2px;
        border-top-right-radius: 0;
      }
    }
  }

  entry { @extend %flat_entry; }
}

filechooser {
  .dialog-action-box { border-top: 1px solid $borders_color; }

  #pathbarbox {
    border-bottom: 1px solid $borders_color;
    background-color: $bg_color;
  }
}

filechooserbutton:drop(active) {
  box-shadow: none;
}

//
// Sidebar
//
.sidebar {
  border-style: none;
  background-color: $lighter_bg_color;

  @at-root %sidebar_left,
  &:dir(ltr),
  &.left,
  &.left:dir(rtl) {
    border-right: 1px solid $borders_color;
    border-left-style: none;
  }

  @at-root %sidebar_right
  &:dir(rtl),
  &.right {
    border-left: 1px solid $borders_color;
    border-right-style: none;
  }

  list { background-color: transparent; }
  row { transition: none; }

  separator,
  .separator {
    min-height: 0;
    border-color: transparent;
    background-color: transparent;
  }

  paned & { &.left, &.right, &.left:dir(rtl), &:dir(rtl), &:dir(ltr), & { border-style: none; }}
}

stacksidebar {
  &.sidebar {
    &:dir(ltr),
    &.left,
    &.left:dir(rtl) { list { @extend %sidebar_left; }}

    &:dir(rtl),
    &.right { list { @extend %sidebar_right; }}
  }

  row {
    padding: 10px 4px;
    transition: none;
    > label {
      padding-left: 6px;
      padding-right: 6px;
    }

    &.needs-attention > label { @extend %needs_attention; }
  }
}

//
// File chooser
//
placessidebar {
  > viewport.frame { border-style: none; }

  list { padding: (4px - 3px) 0 4px; }

  row {
    // Needs overriding of the GtkListBoxRow padding
    min-height: 32px;
    margin: -1px 0; // Remove unknown margins
    padding: 0;

    // Using margins/padding directly in the SidebarRow
    // will make the animation of the new bookmark row jump
    > revealer { padding: 0 12px; }

    &:selected { color: $inversed_fg_color; }

    &:disabled { color: $disabled_fg_color; }

    image.sidebar-icon {
      opacity: $hint_opacity; // dim the device icons

      &:dir(ltr) { padding-right: 8px; }
      &:dir(rtl) { padding-left: 8px; }
    }

    label.sidebar-label {
      &:dir(ltr) { padding-right: 2px; }
      &:dir(rtl) { padding-left: 2px; }
    }

    @at-root button.sidebar-button {
      @extend %simple_flat_button;
      @extend %small_button;

      row:selected & { @extend %button_selected.flat; }
    }

    &.sidebar-placeholder-row {
      min-height: 2px;
      padding: 0 8px;
      background-image: image($accent_color);
      background-clip: content-box;
    }

    &.sidebar-new-bookmark-row { color: $accent_color; }

    &:drop(active):not(:disabled) {
      box-shadow: inset 0 0 0 2px $accent_color;

      &:selected {
        // background-color: $accent_color;
        // color: $inversed_fg_color;
      }
    }
  }
}

placesview {
  .server-list-button > image { -gtk-icon-transform: rotate(0turn); }
  .server-list-button:checked > image { -gtk-icon-transform: rotate(-0.5turn); }

  // this selects the "connect to server" label
  > actionbar > revealer > box > label {
    padding-left: 8px;
    padding-right: 8px;
  }
}


//
// Paned
//
paned {
  > separator {
    min-width: 1px;
    min-height: 1px;
    -gtk-icon-source: none; // defeats the ugly default handle decoration
    border-style: none; // just to be sure
    background-color: transparent;
    // workaround, using background istead of a border since the border will get rendered twice (?)
    background-image: image($solid_borders_color);
    background-size: 1px 1px;

    &.wide {
      min-width: 6px;
      min-height: 6px;
      background-color: $bg_color;
      background-image: image($solid_borders_color), image($solid_borders_color);
      background-size: 1px 1px, 1px 1px;
    }
  }

  &.horizontal > separator {
    background-repeat: repeat-y;

    &:dir(ltr) {
      margin: 0 -8px 0 0;
      padding: 0 8px 0 0;
      background-position: left;
    }

    &:dir(rtl) {
      margin: 0 0 0 -8px;
      padding: 0 0 0 8px;
      background-position: right;
    }

    &.wide {
      margin: 0;
      padding: 0;
      background-repeat: repeat-y, repeat-y;
      background-position: left, right;
    }
  }

  &.vertical > separator {
    margin: 0 0 -8px 0;
    padding: 0 0 8px 0;
    background-repeat: repeat-x;
    background-position: top;

    &.wide {
      margin: 0;
      padding: 0;
      background-repeat: repeat-x, repeat-x;
      background-position: bottom, top;
    }
  }
}

//
// GtkInfoBar
//
infobar {
  border-style: none;

  &.info { background-color: $info_bg_color; }
  &.question { background-color: $question_bg_color; }
  &.warning { background-color: $warning_bg_color; }
  &.error { background-color: $error_bg_color; }

  &.info,
  &.question,
  &.warning,
  &.error {
    > label, & { color: $inversed_fg_color; }

    button { @extend %selected_button; }
    *:link { @extend %link_selected; }
  }
}

// Buttons on selected backgrounds
%selected_button {
  & {
    color: $dark_contrast_color;
    background-color: transparentize($dark_contrast_color, 1);
    border: 1px solid transparentize($dark_contrast_color, 0.5);
    box-shadow: none;
  }
  &.flat {
    color: $dark_contrast_color;
    background-color: transparentize($dark_contrast_color, 1);
    box-shadow: none;
    &:disabled {
      &, label { color: transparentize($dark_contrast_color, 0.6); }
      box-shadow: none;
    }
  }
  &:hover {
    color: $dark_contrast_color;
    background-color: transparentize($dark_contrast_color, 0.8);
    border-color: transparentize($dark_contrast_color, 0.2);
    box-shadow: none;
  }
  &:active, &:active:hover, &:checked {
    color: $dark_contrast_color;
    background-color: transparentize($dark_contrast_color, 0.9);
    border-color: transparentize($dark_contrast_color, 0.2);
    box-shadow: none;
  }
  &:disabled {
    &, label { color: transparentize($dark_contrast_color, 0.5); }
    background-color: transparentize($dark_contrast_color, 1);
    border-color: transparentize($dark_contrast_color, 0.6);
    box-shadow: none;
    &:active, &:checked {
      color: $dark_contrast_color;
      background-color: transparentize($dark_contrast_color, 0.5);
      border-color: transparentize($dark_contrast_color, 0.6);
      box-shadow: none;
    }
  }
}

//
// Tooltips
//
tooltip {
  &.background {
    // background-color needs to be set this way otherwise it gets drawn twice
    // see https://bugzilla.gnome.org/show_bug.cgi?id=736155 for details.
    box-shadow: inset 0 1px $secondary_highlight_color;
    background-color: scale-alpha($base_color, $higher_opacity);
  }

  // @extend %osd;

  // padding: 4px; /* not working */
  border-radius: 2px;
  box-shadow: none; // otherwise it gets inherited by windowframe.csd

  &:not(.csd) {
    border: 1px solid $borders_color;
    border-radius: 2px + 1px;
    background-clip: $extra_background_clip;
  }

  // FIXME: we need a border or tooltips vanish on black background.
  decoration { background-color: transparent; }

  label {
    // tooltip label has already 6px margins
    min-height: 32px - 6px * 2;
    padding: 0 8px - 6px;
  }

  * {
    // workaround for Eclipse.
    // do not include any declaration here.
    // padding: 0;
    // background-color: transparent;
    // color: inherit;
  }
}

//
// Color Chooser
//
colorswatch {
  // This widget is made of two boxes one on top of the other, the lower box is colorswatch {} the other one
  // is colorswatch overlay {}, colorswatch has the programmatically set background, so most of the style is
  // applied to the overlay box.

  // base color corners rounding
  // to avoid the artifacts caused by rounded corner anti-aliasing the base color
  // sports a bigger radius.
  // nth-child is needed by the custom color strip.

  &.top {
    border-top-left-radius: $md_radius + 0.5px;
    border-top-right-radius: $md_radius + 0.5px;

    overlay {
      border-top-left-radius: $md_radius;
      border-top-right-radius: $md_radius;
    }
  }

  &.bottom {
    border-bottom-left-radius: $md_radius + 0.5px;
    border-bottom-right-radius: $md_radius + 0.5px;

    overlay {
      border-bottom-left-radius: $md_radius;
      border-bottom-right-radius: $md_radius;
    }
  }

  &.left,
  &:first-child:not(.top) {
    border-top-left-radius: $md_radius + 0.5px;
    border-bottom-left-radius: $md_radius + 0.5px;

    overlay {
      border-top-left-radius: $md_radius;
      border-bottom-left-radius: $md_radius;
    }
  }

  &.right,
  &:last-child:not(.bottom) {
    border-top-right-radius: $md_radius + 0.5px;
    border-bottom-right-radius: $md_radius + 0.5px;

    overlay {
      border-top-right-radius: $md_radius;
      border-bottom-right-radius: $md_radius;
    }
  }

  &.dark overlay { color: $dark_contrast_color; }
  &.light overlay { color: $light_contrast_color; }
  &.dark { color: $dark_contrast_color; } // for focus ring
  &.light { color: $light_contrast_color; } // for focus ring

  &:drop(active) {
    box-shadow: none;

    &.light overlay {
      box-shadow: $z-depth-1, 0 0 0 2px $accent_color;
    }

    &.dark overlay {
      box-shadow: $z-depth-1, 0 0 0 2px $accent_color;
    }
  }

  overlay {
    transition: $shadow_transition;
    box-shadow: $z-depth-1;

    &:hover { box-shadow: $z-depth-2; }
  }

  &#add-color-button {
    border-radius: $md_radius $md_radius 0 0;
    color: $dark_contrast_color; // for focus ring

    &:only-child { border-radius: $md_radius; }

    overlay {
      background-image: linear-gradient(to right,
                                        $error_bg_color 25%,
                                        $warning_bg_color 25%, $warning_bg_color 50%,
                                        $info_bg_color 50%, $info_bg_color 75%,
                                        $question_bg_color 75%);
      color: $dark_contrast_color;
    }
  }

  &:disabled {
    opacity: $disabled_opacity;

    overlay { box-shadow: none; }
  }

  row:selected & {
  }

  &#editor-color-sample {
    border-radius: $md_radius + 0.5px;

    overlay { border-radius: $md_radius; }

    // overlay:hover { box-shadow: $z-depth-1; }
  }
}

// colorscale popup
colorchooser .popover.osd {
  transition: $shadow_transition;
  border-radius: 2px;
  box-shadow: $z-depth-2, inset 0 1px $highlight_color;
  background-color: $base_color;

  &:backdrop { box-shadow: $z-depth-1, inset 0 1px $highlight_color; }

  spinbutton:not(.vertical) { @extend %flat_entry; }
}

//
// Misc
//
//content view (grid/list)
.content-view {
  background-color: $bg_color;

  // &:hover { -gtk-icon-effect: highlight; }

  rubberband { @extend rubberband; }
}

.scale-popup {
  .osd & { @extend %osd; }

  .osd & button.flat {  //FIXME: quick hack, redo properly
  }

  button { // +/- buttons on GtkVolumeButton popup
  }
}

//
// Window Decorations
//
decoration {
  transition: $shadow_transition;
  border-radius: 2px 2px 0 0;
  box-shadow: $z-depth-4, 0 10px 12px transparent;

  // FIXME rationalize shadows

  // this is used for the resize cursor area
  margin: 4px;

  &:backdrop {
    // the transparent shadow here is to enforce that the shadow extents don't
    // change when we go to backdrop, to prevent jumping windows.
    // The biggest shadow should be in the same order then in the active state
    // or the jumping will happen during the transition.
    box-shadow: $z-depth-2, 0 10px 12px transparent;
  }

  .maximized &,
  .fullscreen &,
  .tiled & { border-radius: 0; }

  .popup & { box-shadow: none; }

  // server-side decorations as used by mutter
  .ssd & { box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16); } //just doing borders, wm draws actual shadows

  .csd.popup & {
    border-radius: 2px;
    box-shadow: $z-depth-2;
  }

  tooltip.csd & {
    border-radius: 2px;
    box-shadow: $z-depth-2;
  }

  messagedialog.csd & {
    border-radius: 2px;
    // box-shadow: $z-depth-4;

    // &:backdrop { box-shadow: $z-depth-2, 0 10px 10px transparent; }
  }

  .solid-csd & {
    margin: 0;
    padding: 0;
    border: 2px solid $headerbar_bg_color;
    border-radius: 0;
    box-shadow: none;
    background: none;
  }
}

// catch all extend :)
%selected_items {
  background-color: $primary_color;

  @at-root %nobg_selected_items, & {
    color: $inversed_fg_color;

    &:disabled { color: $disabled_inversed_fg_color; }
  }
}

.monospace { font-family: monospace; }

//
// Title buttons
//
%titlebuttons {
  button.titlebutton {
    &:hover { @include button(header-hover); }
    &:active, &:checked { @include button(header-active); }

    @at-root %windows_button,
    &.close, &.maximize, &.minimize {
      margin: 0;
      padding: 0;
      min-width: 26px;
      min-height: 26px;
      animation: none;
      box-shadow: none;
      border: none;
      color: transparent;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 16px 16px;

      &:hover, &:active, &:checked {
        box-shadow: none;
        border: none;
        color: transparent;
        animation: none;
        transition: background-size $shorter_duration $deceleration_curve;
        background-color: transparent;
        background-size: 22px 22px;
      }

      &:backdrop { opacity: 1; }
    }

    // Load png assets for each button
    @each $k in ('close', 'maximize', 'minimize') {
      @each $l, $m in ('',''), (':backdrop','-backdrop'), (':hover','-hover'), (':active','-active') {

        &.#{$k}#{$l} { background-image: -gtk-scaled(url('assets/window-assets/titlebutton-#{$k}#{$m}#{$darker_asset_suffix}.png'),
                                                     url('assets/window-assets/titlebutton-#{$k}#{$m}#{$darker_asset_suffix}@2.png')); }
      }
    }
  }

  .fullscreen &,
  .maximized & {
    button.titlebutton {
      @each $l, $m in ('',''), (':backdrop','-backdrop'), (':hover','-hover'), (':active','-active') {
      &.maximize#{$l} { background-image: -gtk-scaled(url('assets/window-assets/titlebutton-restore#{$m}#{$darker_asset_suffix}.png'),
                                                      url('assets/window-assets/titlebutton-restore#{$m}#{$darker_asset_suffix}@2.png')); }
      }
    }
  }
}

headerbar,
.titlebar {
  &, .csd &, .solid-csd &,
  &.default-decoration,
  .csd &.default-decoration {  // needed under wayland, since all gtk3 windows are csd windows
    @extend %titlebuttons;

    button.titlebutton.close {
      border-radius: 2px;
      -gtk-outline-radius: 2px;
    }
  }
}

@at-root %solid_titlebuttons {
  .csd &, .solid-csd & {
    button.titlebutton {
      &.close, &.maximize, &.minimize { @extend %windows_button; }

      // Load png assets for each button
      @each $k in ('close', 'maximize', 'minimize') {
        @each $l, $m in ('',''), (':backdrop','-backdrop'), (':hover','-hover'), (':active','-active') {

        &.#{$k}#{$l} { background-image: -gtk-scaled(url('assets/window-assets/titlebutton-#{$k}#{$m}#{$darker_asset_suffix}.png'),
                                                     url('assets/window-assets/titlebutton-#{$k}#{$m}#{$darker_asset_suffix}@2.png')); }
        }
      }
    }
  }
  .csd.maximized &, .solid-csd.maximized & {
    button.titlebutton {
      @each $l, $m in ('',''), (':backdrop','-backdrop'), (':hover','-hover'), (':active','-active') {
      &.maximize#{$l} { background-image: -gtk-scaled(url('assets/window-assets/titlebutton-restore#{$m}#{$darker_asset_suffix}.png'),
                                                      url('assets/window-assets/titlebutton-restore#{$m}#{$darker_asset_suffix}@2.png')); }
      }
    }
  }
}

// solid-csd Window manager buttons
headerbar:not(.default-decoration) {
  @extend %solid_titlebuttons;
}

//
// Touch Copy & Paste
//
//touch selection handlebars for the Popover.osd above
cursor-handle {
  border-radius: $circular_radius;
  background-color: $accent_color;
  background-image: none;

  &.top:dir(ltr), &.bottom:dir(rtl) {
    padding-left: 6px;
    border-top-right-radius: 0;
  }

  &.bottom:dir(ltr), &.top:dir(rtl) {
    padding-right: 6px;
    border-top-left-radius: 0;
  }

  &.insertion-cursor:dir(ltr), &.insertion-cursor:dir(rtl) {
    -GtkWidget-text-handle-width: 24;
    -GtkWidget-text-handle-height: 30;

    $_url: 'assets/slider-horz-scale-has-marks-above#{$asset_suffix}';
    -gtk-icon-source: -gtk-scaled(url('#{$_url}.png'),
                                  url('#{$_url}@2.png'));
  }
}

.context-menu { font: initial; } // Decouple the font of context menus from their entry/textview

%circular_button,
button.circular { // FIXME: aggregate to buttons
  border-radius: 100px;
  -gtk-outline-radius: 100px;

  // label { padding: 0; }
}

button.circular { row & { margin: 0 5px; } } // Make the circular button hover shadow on row fully displayed

%small_button {
  min-height: $small_size;
  min-width: $small_size;
  padding: 0;
  border-radius: $circular_radius;
  -gtk-outline-radius: $circular_radius;
}

// shortcut window keys
.keycap {
  min-width: 28px - 8px * 2;
  min-height: 28px - 2px;
  margin-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;

  border: solid 1px $borders_color;
  border-radius: 2px + 1px;
  box-shadow: inset 0 -2px $borders_color;
  background-color: $base_color;
  color: $fg_color;
  font-size: smaller;
}

:not(decoration):not(window):drop(active) { // FIXME needs to be done widget by widget, this wildcard should really die
  transition: $shorter_transition;
  box-shadow: $z-depth-1, inset 0 0 0 2px $accent_color;
  caret-color: $accent_color;
}

stackswitcher button.text-button { min-width: 100px; } // FIXME aggregate with buttons

stackswitcher button.circular,
stackswitcher button.text-button.circular { // FIXME aggregate with buttons
  min-width: $medium_size;
  min-height: $medium_size;
  border-radius: 100px;
  -gtk-outline-radius: 100px;
  padding: 0;
}

//
// Emoji
//
popover.emoji-picker {
  padding: 0;

  entry {
    border-bottom: 1px solid $borders_color;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
  }

  scrolledwindow { border-bottom: 1px solid $borders_color; }
}

// mimic tab style
button.emoji-section {
  margin-top: -1px;
  padding: 0 8px;
  min-width: 24px;
  min-height: $medium_size;
  border-radius: 0;
  outline-offset: -6px;
  box-shadow: none;

  &:hover { box-shadow: inset 0 2px $track_color; }

  &:active {
    box-shadow: inset 0 2px $primary_color;
    background-image: radial-gradient(circle farthest-corner at center,
                                      rgba($primary_color, 0.7) 10%,
                                      transparent 0%);
  }

  &:checked {
    box-shadow: inset 0 2px $primary_color;
    background-color: transparent;
  }

  &:first-child { margin-left: 4px; }
  &:last-child { margin-right: 4px; }
}

.emoji {
  min-width: 3em;
  min-height: 3em;
  padding: 0;
  // font-size: large;

  widget {
    transition: $shorter_transition;

    &:hover { font-size: larger; }
  }
}
